@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Boş Sayfa";
	Layout = "~/Views/Shared/_LayoutMetronic7.cshtml";
}
@section js_firstScripts
{

}
@section css_firstStyles
{

}
@section css_plugins
{
        <!--begin::Page Vendors Styles(used by this page)-->
    <link href="assets7/plugins/custom/fullcalendar/fullcalendar.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->

}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Subheader-->
	
	<!--end::Subheader-->
	<!--begin::Entry-->
	
	<!--end::Entry-->
</div>

@section js_plugins
{
	<!--begin::Page Vendors(used by this page)-->
	<script src="assets7/plugins/custom/fullcalendar/fullcalendar.bundle.js?v=7.0.5"></script>
	<!--end::Page Vendors-->
}
@section js_scripts
{
	<!--begin::Page Scripts(used by this page)-->
	<script src="assets7/js/pages/features/calendar/background-events.js?v=7.0.5"></script>
	<!--end::Page Scripts-->
}