@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="container-fluid">
<div class="row justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-7 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-5">
                        <div class="p-5">
                            <div class="text-center">
                                <h2 class="text-gray-900 mb-4">Afyonkarahisar Belediyesi</h2>
                                <h4> Soldaki menüden Sisteme Giriş'e tıklayarak portala giriş yapabilirsiniz</h4>
                                <h4> Yeni Kullanıcı Oluşturmak için Üyelik Formuna'a tıklayınız!</h4>
                                
                            </div>
                           
                           
                        </div>
                    </div>
                </div> 
            </div>
        </div>
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                   
                    <div class="row  p-5">
                        <div class="col-md-12 text-center">
                            <a asp-action="SignIn2" asp-controller="Home" class="btn btn-success">Giriş İçin Tıklayın</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>