
@{
    ViewData["Title"] = "RoleDelete";
  //  Layout = "~/Views/Shared/_Layout.cshtml";
  //  Layout = "_LayoutMetronic1";
}

<h1>RoleDelete</h1>
@if(!String.IsNullOrEmpty(ViewBag.Hata))
{
    <div class="alert-danger">
        @ViewBag.Hata
    </div>
}

