<script>
    $(document).ready(function () {
        $("#search-box").on("input", function () {
            var query = $(this).val();
            if (query.length >= 3) {
                $.ajax({
                    url: '/Musteriler/ara',
                    type: 'GET',
                    data: { searchName: query },
                    success: function (data) {
                        var results = $("#results");
                        results.empty();
                        $.each(data, function (index, musteri) {
                            results.append('<li data-id="' + musteri.id + '">' + musteri.ad + '</li>');
                        });
                    }
                });
            } else {
                $("#results").empty();
            }
        });

        $(document).on("click", "#results li", function () {
            var professionName = $(this).text();
            var professionId = $(this).data("id");

            $("#search-box").val(professionName);
            $("#MusteriID").val(professionId);
            $("#results").empty();
        });
    });
</script>
