  .ct {
    z-index: 999;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-transition: opacity 50ms ease-in,-webkit-transform 70ms cubic-bezier(.215,.61,.355,1);
    transition: opacity 50ms ease-in,-webkit-transform 70ms cubic-bezier(.215,.61,.355,1);
    transition: opacity 50ms ease-in,transform 70ms cubic-bezier(.215,.61,.355,1);
    transition: opacity 50ms ease-in,transform 70ms cubic-bezier(.215,.61,.355,1),-webkit-transform 70ms cubic-bezier(.215,.61,.355,1);
    will-change: opacity,top,left;
    -webkit-box-shadow: 0 8px 12px 0 rgba(29,32,43,.17),0 4px 5px -3px rgba(5,6,12,.49);
    box-shadow: 0 8px 12px 0 rgba(29,32,43,.17),0 4px 5px -3px rgba(5,6,12,.49);
    border-radius: 9px
}

.ct, .ct:before {
    position: absolute;
    top: 0;
    left: 0
}

    .ct:before {
        content: "";
        bottom: 0;
        right: 0;
        background-color: #1d202b;
        z-index: -1;
        border-radius: 4px
    }

@supports(-webkit-mask-box-image:url("")) {
    .ct:before {
        border-radius: 0;
        -webkit-mask-box-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M10.71 0h2.58c3.02 0 4.64.42 6.1 1.2a8.18 8.18 0 013.4 3.4C23.6 6.07 24 7.7 24 10.71v2.58c0 3.02-.42 4.64-1.2 6.1a8.18 8.18 0 01-3.4 3.4c-1.47.8-3.1 1.21-6.11 1.21H10.7c-3.02 0-4.64-.42-6.1-1.2a8.18 8.18 0 01-3.4-3.4C.4 17.93 0 16.3 0 13.29V10.7c0-3.02.42-4.64 1.2-6.1a8.18 8.18 0 013.4-3.4C6.07.4 7.7 0 10.71 0z"/></svg>') 48% 41% 37.9% 53.3%
    }
}

@media (--mobile) {
    .ct {
        display: none
    }
}

.ct__content {
    padding: 6px 10px;
    color: #cdd1e0;
    font-size: 12px;
    text-align: center;
    letter-spacing: .02em;
    line-height: 1em
}

.ct:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: #1d202b;
    z-index: -1
}

.ct--bottom {
    -webkit-transform: translateY(5px);
    transform: translateY(5px)
}

    .ct--bottom:after {
        top: -3px;
        left: 50%;
        -webkit-transform: translateX(-50%) rotate(-45deg);
        transform: translateX(-50%) rotate(-45deg)
    }

.ct--top {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

    .ct--top:after {
        top: auto;
        bottom: -3px;
        left: 50%;
        -webkit-transform: translateX(-50%) rotate(-45deg);
        transform: translateX(-50%) rotate(-45deg)
    }

.ct--left {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px)
}

    .ct--left:after {
        top: 50%;
        left: auto;
        right: 0;
        -webkit-transform: translate(41.6%,-50%) rotate(-45deg);
        transform: translate(41.6%,-50%) rotate(-45deg)
    }

.ct--right {
    -webkit-transform: translateX(5px);
    transform: translateX(5px)
}

    .ct--right:after {
        top: 50%;
        left: 0;
        -webkit-transform: translate(-41.6%,-50%) rotate(-45deg);
        transform: translate(-41.6%,-50%) rotate(-45deg)
    }

.ct--shown {
    opacity: 1;
    -webkit-transform: none;
    transform: none
}

 
