  .codex-editor {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1
}

.codex-editor .hide, .codex-editor__redactor--hidden {
    display: none
}

.codex-editor__redactor [contenteditable]:empty:after {
    content: "\feff "
}

@media (min-width:651px) {
    .codex-editor--narrow .codex-editor__redactor {
        margin-right: 50px
    }
}

@media (min-width:651px) {
    .codex-editor--narrow.codex-editor--rtl .codex-editor__redactor {
        margin-left: 50px;
        margin-right: 0
    }
}

@media (min-width:651px) {
    .codex-editor--narrow .ce-toolbar__actions {
        right: -5px
    }
}

.codex-editor__loader {
    position: relative;
    height: 30vh
}

    .codex-editor__loader:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;
        border-radius: 50%;
        border: 2px solid rgba(201,201,204,.48);
        border-top-color: transparent;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-animation: editor-loader-spin .8s linear infinite;
        animation: editor-loader-spin .8s linear infinite;
        will-change: transform
    }

.codex-editor-copyable {
    position: absolute;
    height: 1px;
    width: 1px;
    top: -400%;
    opacity: .001
}

.codex-editor-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    pointer-events: none;
    overflow: hidden
}

.codex-editor-overlay__container {
    position: relative;
    pointer-events: auto;
    z-index: 0
}

.codex-editor-overlay__rectangle {
    position: absolute;
    pointer-events: none;
    background-color: rgba(46,170,220,.2);
    border: 1px solid transparent
}

.codex-editor svg {
    max-height: 100%
}

.codex-editor path {
    stroke: currentColor
}

::-moz-selection {
    background-color: #d4ecff
}

::selection {
    background-color: #d4ecff
}

.codex-editor--toolbox-opened [contentEditable=true][data-placeholder]:focus:before {
    opacity: 0 !important
}

@-webkit-keyframes editor-loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes editor-loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.ce-scroll-locked {
    overflow: hidden
}

.ce-scroll-locked--hard {
    overflow: hidden;
    top: calc(var(--window-scroll-offset)*-1);
    position: fixed;
    width: 100%
}

.ce-toolbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
    will-change: opacity,top;
    display: none
}

.ce-toolbar--opened {
    display: block
}

.ce-toolbar__content {
    max-width: 650px;
    margin: 0 auto;
    position: relative
}

.ce-toolbar__plus {
    color: #1d202b;
    cursor: pointer;
    width: 26px;
    height: 26px;
    border-radius: 7px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media (max-width:650px) {
    .ce-toolbar__plus {
        width: 36px;
        height: 36px
    }
}

@media (hover:hover) {
    .ce-toolbar__plus:hover {
        background-color: #eff2f5
    }
}

.ce-toolbar__plus--active {
    background-color: #eff2f5;
    -webkit-animation: bounceIn .75s 1;
    animation: bounceIn .75s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.ce-toolbar__plus {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.ce-toolbar__plus-shortcut {
    opacity: .6;
    word-spacing: -2px;
    margin-top: 5px
}

@media (max-width:650px) {
    .ce-toolbar__plus {
        position: absolute;
        background-color: #fff;
        border: 1px solid #e8e8eb;
        -webkit-box-shadow: 0 3px 15px -3px rgba(13,20,33,.13);
        box-shadow: 0 3px 15px -3px rgba(13,20,33,.13);
        border-radius: 6px;
        z-index: 2
    }

    .ce-toolbar__plus--left-oriented:before {
        left: 15px;
        margin-left: 0
    }

    .ce-toolbar__plus--right-oriented:before {
        left: auto;
        right: 15px;
        margin-left: 0
    }

    .ce-toolbar__plus {
        position: static
    }
}

.ce-toolbar__actions {
    position: absolute;
    right: 100%;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 5px
}

.ce-toolbar__actions--opened {
    opacity: 1
}

@media (max-width:650px) {
    .ce-toolbar__actions {
        right: auto
    }
}

.ce-toolbar__settings-btn {
    color: #1d202b;
    width: 26px;
    height: 26px;
    border-radius: 7px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width:650px) {
    .ce-toolbar__settings-btn {
        width: 36px;
        height: 36px
    }
}

@media (hover:hover) {
    .ce-toolbar__settings-btn:hover {
        background-color: #eff2f5
    }
}

.ce-toolbar__settings-btn--active {
    background-color: #eff2f5;
    -webkit-animation: bounceIn .75s 1;
    animation: bounceIn .75s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.ce-toolbar__settings-btn {
    margin-left: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media (min-width:651px) {
    .ce-toolbar__settings-btn {
        width: 24px
    }
}

.ce-toolbar__settings-btn--hidden {
    display: none
}

@media (max-width:650px) {
    .ce-toolbar__settings-btn {
        position: absolute;
        background-color: #fff;
        border: 1px solid #e8e8eb;
        -webkit-box-shadow: 0 3px 15px -3px rgba(13,20,33,.13);
        box-shadow: 0 3px 15px -3px rgba(13,20,33,.13);
        border-radius: 6px;
        z-index: 2
    }

    .ce-toolbar__settings-btn--left-oriented:before {
        left: 15px;
        margin-left: 0
    }

    .ce-toolbar__settings-btn--right-oriented:before {
        left: auto;
        right: 15px;
        margin-left: 0
    }

    .ce-toolbar__settings-btn {
        position: static
    }
}

.ce-toolbar__plus svg, .ce-toolbar__settings-btn svg {
    width: 24px;
    height: 24px
}

@media (min-width:651px) {
    .codex-editor--narrow .ce-toolbar__plus {
        left: 5px
    }
}

.ce-toolbox {
    --gap: 8px
}

@media (min-width:651px) {
    .ce-toolbox {
        position: absolute;
        top: calc(26px + var(--gap));
        left: 0
    }

    .ce-toolbox--opened-top {
        top: calc(var(--gap)*-1 + var(--popover-height)*-1)
    }
}

@media (min-width:651px) {
    .codex-editor--narrow .ce-toolbox {
        left: auto;
        right: 0
    }

        .codex-editor--narrow .ce-toolbox .ce-popover {
            right: 0
        }
}

.ce-inline-toolbar {
    --y-offset: 8px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #e8e8eb;
    -webkit-box-shadow: 0 3px 15px -3px rgba(13,20,33,.13);
    box-shadow: 0 3px 15px -3px rgba(13,20,33,.13);
    border-radius: 6px;
    z-index: 2
}

.ce-inline-toolbar--left-oriented:before {
    left: 15px;
    margin-left: 0
}

.ce-inline-toolbar--right-oriented:before {
    left: auto;
    right: 15px;
    margin-left: 0
}

.ce-inline-toolbar {
    -webkit-transform: translateX(-50%) translateY(8px) scale(.94);
    transform: translateX(-50%) translateY(8px) scale(.94);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .25s ease,-webkit-transform .15s ease;
    transition: opacity .25s ease,-webkit-transform .15s ease;
    transition: transform .15s ease,opacity .25s ease;
    transition: transform .15s ease,opacity .25s ease,-webkit-transform .15s ease;
    will-change: transform,opacity;
    top: 0;
    left: 0;
    z-index: 3
}

.ce-inline-toolbar--showed {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.ce-inline-toolbar--left-oriented {
    -webkit-transform: translateX(-23px) translateY(8px) scale(.94);
    transform: translateX(-23px) translateY(8px) scale(.94)
}

    .ce-inline-toolbar--left-oriented.ce-inline-toolbar--showed {
        -webkit-transform: translateX(-23px);
        transform: translateX(-23px)
    }

.ce-inline-toolbar--right-oriented {
    -webkit-transform: translateX(-100%) translateY(8px) scale(.94);
    transform: translateX(-100%) translateY(8px) scale(.94);
    margin-left: 23px
}

    .ce-inline-toolbar--right-oriented.ce-inline-toolbar--showed {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }

.ce-inline-toolbar [hidden] {
    display: none !important
}

.ce-inline-toolbar__toggler-and-button-wrapper {
    width: 100%;
    padding: 0 6px
}

.ce-inline-toolbar__buttons, .ce-inline-toolbar__toggler-and-button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.ce-inline-toolbar__dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6px;
    margin: 0 6px 0 -6px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    border-right: 1px solid rgba(201,201,204,.48);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media (hover:hover) {
    .ce-inline-toolbar__dropdown:hover {
        background: #eff2f5
    }
}

.ce-inline-toolbar__dropdown--hidden {
    display: none
}

.ce-inline-toolbar__dropdown-arrow, .ce-inline-toolbar__dropdown-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

    .ce-inline-toolbar__dropdown-arrow svg, .ce-inline-toolbar__dropdown-content svg {
        width: 20px;
        height: 20px
    }

.ce-inline-toolbar__shortcut {
    opacity: .6;
    word-spacing: -3px;
    margin-top: 3px
}

.ce-inline-tool {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 6px 1px;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: transparent;
    vertical-align: bottom;
    color: inherit;
    margin: 0
}

    .ce-inline-tool svg {
        width: 20px;
        height: 20px
    }

@media (max-width:650px) {
    .ce-inline-tool svg {
        width: 28px;
        height: 28px
    }
}

@media (hover:hover) {
    .ce-inline-tool:hover {
        background-color: #eff2f5
    }
}

.ce-inline-tool--active {
    color: #388ae5
}

.ce-inline-tool--focused {
    -webkit-box-shadow: inset 0 0 0 1px rgba(7,161,227,.08);
    box-shadow: inset 0 0 0 1px rgba(7,161,227,.08);
    background: rgba(34,186,255,.08) !important
}

.ce-inline-tool--focused-animated {
    -webkit-animation-name: buttonClicked;
    animation-name: buttonClicked;
    -webkit-animation-duration: .25s;
    animation-duration: .25s
}

.ce-inline-tool {
    border-radius: 0;
    line-height: normal
}

.ce-inline-tool--link .icon--unlink, .ce-inline-tool--unlink .icon--link {
    display: none
}

.ce-inline-tool--unlink .icon--unlink {
    display: inline-block;
    margin-bottom: -1px
}

.ce-inline-tool-input {
    outline: none;
    border: 0;
    border-radius: 0 0 4px 4px;
    margin: 0;
    font-size: 13px;
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    font-weight: 500;
    border-top: 1px solid rgba(201,201,204,.48);
    -webkit-appearance: none;
    font-family: inherit
}

@media (max-width:650px) {
    .ce-inline-tool-input {
        font-size: 15px;
        font-weight: 500
    }
}

.ce-inline-tool-input::-webkit-input-placeholder {
    color: #707684
}

.ce-inline-tool-input::-moz-placeholder {
    color: #707684
}

.ce-inline-tool-input:-ms-input-placeholder {
    color: #707684
}

.ce-inline-tool-input::-ms-input-placeholder {
    color: #707684
}

.ce-inline-tool-input::placeholder {
    color: #707684
}

.ce-inline-tool-input--showed {
    display: block
}

.ce-conversion-toolbar {
    position: absolute;
    background-color: #fff;
    border: 1px solid #e8e8eb;
    -webkit-box-shadow: 0 3px 15px -3px rgba(13,20,33,.13);
    box-shadow: 0 3px 15px -3px rgba(13,20,33,.13);
    border-radius: 6px;
    z-index: 2
}

.ce-conversion-toolbar--left-oriented:before {
    left: 15px;
    margin-left: 0
}

.ce-conversion-toolbar--right-oriented:before {
    left: auto;
    right: 15px;
    margin-left: 0
}

.ce-conversion-toolbar {
    opacity: 0;
    visibility: hidden;
    will-change: transform,opacity;
    -webkit-transition: opacity .1s ease,-webkit-transform .1s ease;
    transition: opacity .1s ease,-webkit-transform .1s ease;
    transition: transform .1s ease,opacity .1s ease;
    transition: transform .1s ease,opacity .1s ease,-webkit-transform .1s ease;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    left: -1px;
    width: 150px;
    margin-top: 5px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.ce-conversion-toolbar--showed {
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    transform: none
}

.ce-conversion-toolbar [hidden] {
    display: none !important
}

.ce-conversion-toolbar__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.ce-conversion-toolbar__label {
    color: #707684;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .33px;
    padding: 10px 10px 5px;
    text-transform: uppercase
}

.ce-conversion-tool {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.ce-conversion-tool--hidden {
    display: none
}

.ce-conversion-tool--focused {
    -webkit-box-shadow: inset 0 0 0 1px rgba(7,161,227,.08);
    box-shadow: inset 0 0 0 1px rgba(7,161,227,.08);
    background: rgba(34,186,255,.08) !important
}

.ce-conversion-tool--focused-animated {
    -webkit-animation-name: buttonClicked;
    animation-name: buttonClicked;
    -webkit-animation-duration: .25s;
    animation-duration: .25s
}

.ce-conversion-tool:hover {
    background: #eff2f5
}

.ce-conversion-tool__icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 26px;
    height: 26px;
    -webkit-box-shadow: 0 0 0 1px rgba(201,201,204,.48);
    box-shadow: 0 0 0 1px rgba(201,201,204,.48);
    border-radius: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fff;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 10px
}

    .ce-conversion-tool__icon svg {
        width: 20px;
        height: 20px
    }

@media (max-width:650px) {
    .ce-conversion-tool__icon {
        width: 36px;
        height: 36px;
        border-radius: 8px
    }

        .ce-conversion-tool__icon svg {
            width: 28px;
            height: 28px
        }
}

.ce-conversion-tool--last {
    margin-right: 0 !important
}

.ce-conversion-tool--active {
    color: #388ae5 !important;
    -webkit-animation: bounceIn .75s 1;
    animation: bounceIn .75s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.ce-settings {
    position: absolute;
    z-index: 2;
    --gap: 8px
}

@media (min-width:651px) {
    .ce-settings {
        position: absolute;
        top: calc(26px + var(--gap));
        left: 0
    }

    .ce-settings--opened-top {
        top: calc(var(--gap)*-1 + var(--popover-height)*-1)
    }
}

.ce-settings__button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 6px 1px;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: transparent;
    vertical-align: bottom;
    color: inherit;
    margin: 0
}

    .ce-settings__button svg {
        width: 20px;
        height: 20px
    }

@media (max-width:650px) {
    .ce-settings__button svg {
        width: 28px;
        height: 28px
    }
}

@media (hover:hover) {
    .ce-settings__button:hover {
        background-color: #eff2f5
    }
}

.ce-settings__button--active {
    color: #388ae5
}

.ce-settings__button--focused {
    -webkit-box-shadow: inset 0 0 0 1px rgba(7,161,227,.08);
    box-shadow: inset 0 0 0 1px rgba(7,161,227,.08);
    background: rgba(34,186,255,.08) !important
}

.ce-settings__button--focused-animated {
    -webkit-animation-name: buttonClicked;
    animation-name: buttonClicked;
    -webkit-animation-duration: .25s;
    animation-duration: .25s
}

.ce-settings__button:not(:nth-child(3n+3)) {
    margin-right: 3px
}

.ce-settings__button:nth-child(n+4) {
    margin-top: 3px
}

.ce-settings__button {
    line-height: 32px
}

.ce-settings__button--disabled {
    cursor: not-allowed !important;
    opacity: .3
}

.ce-settings__button--selected {
    color: #388ae5
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.ce-block {
    -webkit-animation: fade-in .3s ease;
    animation: fade-in .3s ease;
    -webkit-animation-fill-mode: none;
    -webkit-animation-fill-mode: initial;
    animation-fill-mode: none
}

    .ce-block:first-of-type {
        margin-top: 0
    }

.ce-block--selected .ce-block__content {
    background: #e1f2ff
}

    .ce-block--selected .ce-block__content [contenteditable] {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    .ce-block--selected .ce-block__content .ce-stub, .ce-block--selected .ce-block__content img {
        opacity: .55
    }

.ce-block--stretched .ce-block__content {
    max-width: none
}

.ce-block__content {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    -webkit-transition: background-color .15s ease;
    transition: background-color .15s ease
}

.ce-block--drop-target .ce-block__content:before {
    content: "";
    position: absolute;
    top: 100%;
    left: -20px;
    margin-top: -1px;
    height: 8px;
    width: 8px;
    border: solid #388ae5;
    border-width: 1px 1px 0 0;
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.ce-block--drop-target .ce-block__content:after {
    content: "";
    position: absolute;
    top: 100%;
    height: 1px;
    width: 100%;
    color: #388ae5;
    background: repeating-linear-gradient(90deg,#388ae5,#388ae5 1px,#fff 0,#fff 6px)
}

.ce-block a {
    cursor: pointer;
    text-decoration: underline
}

.ce-block b {
    font-weight: 700
}

.ce-block i {
    font-style: italic
}

@media (min-width:651px) {
    .codex-editor--narrow .ce-block--focused {
        margin-right: -50px;
        padding-right: 50px
    }
}

.wobble {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: .4s;
    animation-duration: .4s
}

@-webkit-keyframes wobble {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    15% {
        -webkit-transform: translate3d(-5%,0,0) rotate(-5deg);
        transform: translate3d(-5%,0,0) rotate(-5deg)
    }

    30% {
        -webkit-transform: translate3d(2%,0,0) rotate(3deg);
        transform: translate3d(2%,0,0) rotate(3deg)
    }

    45% {
        -webkit-transform: translate3d(-3%,0,0) rotate(-3deg);
        transform: translate3d(-3%,0,0) rotate(-3deg)
    }

    60% {
        -webkit-transform: translate3d(2%,0,0) rotate(2deg);
        transform: translate3d(2%,0,0) rotate(2deg)
    }

    75% {
        -webkit-transform: translate3d(-1%,0,0) rotate(-1deg);
        transform: translate3d(-1%,0,0) rotate(-1deg)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes wobble {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    15% {
        -webkit-transform: translate3d(-5%,0,0) rotate(-5deg);
        transform: translate3d(-5%,0,0) rotate(-5deg)
    }

    30% {
        -webkit-transform: translate3d(2%,0,0) rotate(3deg);
        transform: translate3d(2%,0,0) rotate(3deg)
    }

    45% {
        -webkit-transform: translate3d(-3%,0,0) rotate(-3deg);
        transform: translate3d(-3%,0,0) rotate(-3deg)
    }

    60% {
        -webkit-transform: translate3d(2%,0,0) rotate(2deg);
        transform: translate3d(2%,0,0) rotate(2deg)
    }

    75% {
        -webkit-transform: translate3d(-1%,0,0) rotate(-1deg);
        transform: translate3d(-1%,0,0) rotate(-1deg)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes bounceIn {
    0%,20%,40%,60%,80%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        -webkit-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9)
    }

    20% {
        -webkit-transform: scale3d(1.03,1.03,1.03);
        transform: scale3d(1.03,1.03,1.03)
    }

    60% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes bounceIn {
    0%,20%,40%,60%,80%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        -webkit-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9)
    }

    20% {
        -webkit-transform: scale3d(1.03,1.03,1.03);
        transform: scale3d(1.03,1.03,1.03)
    }

    60% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@-webkit-keyframes selectionBounce {
    0%,20%,40%,60%,80%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    50% {
        -webkit-transform: scale3d(1.01,1.01,1.01);
        transform: scale3d(1.01,1.01,1.01)
    }

    70% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes selectionBounce {
    0%,20%,40%,60%,80%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    50% {
        -webkit-transform: scale3d(1.01,1.01,1.01);
        transform: scale3d(1.01,1.01,1.01)
    }

    70% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@-webkit-keyframes buttonClicked {
    0%,20%,40%,60%,80%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        -webkit-transform: scale3d(.95,.95,.95);
        transform: scale3d(.95,.95,.95)
    }

    60% {
        -webkit-transform: scale3d(1.02,1.02,1.02);
        transform: scale3d(1.02,1.02,1.02)
    }

    80% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes buttonClicked {
    0%,20%,40%,60%,80%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        -webkit-transform: scale3d(.95,.95,.95);
        transform: scale3d(.95,.95,.95)
    }

    60% {
        -webkit-transform: scale3d(1.02,1.02,1.02);
        transform: scale3d(1.02,1.02,1.02)
    }

    80% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@-webkit-keyframes panelShowing {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-8px) scale(.9);
        transform: translateY(-8px) scale(.9)
    }

    70% {
        opacity: 1;
        -webkit-transform: translateY(2px);
        transform: translateY(2px)
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes panelShowing {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-8px) scale(.9);
        transform: translateY(-8px) scale(.9)
    }

    70% {
        opacity: 1;
        -webkit-transform: translateY(2px);
        transform: translateY(2px)
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes panelShowingMobile {
    0% {
        opacity: 0;
        -webkit-transform: translateY(14px) scale(.98);
        transform: translateY(14px) scale(.98)
    }

    70% {
        opacity: 1;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px)
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes panelShowingMobile {
    0% {
        opacity: 0;
        -webkit-transform: translateY(14px) scale(.98);
        transform: translateY(14px) scale(.98)
    }

    70% {
        opacity: 1;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px)
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.cdx-block {
    padding: .4em 0
}

    .cdx-block::-webkit-input-placeholder {
        line-height: normal !important
    }

.cdx-input {
    border: 1px solid rgba(201,201,204,.48);
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(35,44,72,.06);
    box-shadow: inset 0 1px 2px 0 rgba(35,44,72,.06);
    border-radius: 3px;
    padding: 10px 12px;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

    .cdx-input[data-placeholder]:before {
        position: static !important;
        display: inline-block;
        width: 0;
        white-space: nowrap;
        pointer-events: none
    }

.cdx-settings-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 6px 1px;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: transparent;
    vertical-align: bottom;
    color: inherit;
    margin: 0
}

    .cdx-settings-button svg {
        width: 20px;
        height: 20px
    }

@media (max-width:650px) {
    .cdx-settings-button svg {
        width: 28px;
        height: 28px
    }
}

@media (hover:hover) {
    .cdx-settings-button:hover {
        background-color: #eff2f5
    }
}

.cdx-settings-button--focused {
    -webkit-box-shadow: inset 0 0 0 1px rgba(7,161,227,.08);
    box-shadow: inset 0 0 0 1px rgba(7,161,227,.08);
    background: rgba(34,186,255,.08) !important
}

.cdx-settings-button--focused-animated {
    -webkit-animation-name: buttonClicked;
    animation-name: buttonClicked;
    -webkit-animation-duration: .25s;
    animation-duration: .25s
}

.cdx-settings-button {
    min-width: 26px;
    min-height: 26px
}

.cdx-settings-button--active {
    color: #388ae5
}

.cdx-settings-button svg {
    width: auto;
    height: auto
}

@media (max-width:650px) {
    .cdx-settings-button {
        width: 36px;
        height: 36px;
        border-radius: 8px
    }
}

.cdx-loader {
    position: relative;
    border: 1px solid rgba(201,201,204,.48)
}

    .cdx-loader:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 18px;
        height: 18px;
        margin: -11px 0 0 -11px;
        border: 2px solid rgba(201,201,204,.48);
        border-left-color: #388ae5;
        border-radius: 50%;
        -webkit-animation: cdxRotation 1.2s linear infinite;
        animation: cdxRotation 1.2s linear infinite
    }

@-webkit-keyframes cdxRotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes cdxRotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.cdx-button {
    padding: 13px;
    border-radius: 3px;
    border: 1px solid rgba(201,201,204,.48);
    font-size: 14.9px;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(18,30,57,.04);
    box-shadow: 0 2px 2px 0 rgba(18,30,57,.04);
    color: #707684;
    text-align: center;
    cursor: pointer
}

@media (hover:hover) {
    .cdx-button:hover {
        background: #fbfcfe;
        -webkit-box-shadow: 0 1px 3px 0 rgba(18,30,57,.08);
        box-shadow: 0 1px 3px 0 rgba(18,30,57,.08)
    }
}

.cdx-button svg {
    height: 20px;
    margin-right: .2em;
    margin-top: -2px
}

.ce-stub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 3.5em 0;
    margin: 17px 0;
    border-radius: 3px;
    background: #fcf7f7;
    color: #b46262
}

.ce-stub__info {
    margin-left: 20px
}

.ce-stub__title {
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize
}

.ce-stub__subtitle {
    font-size: 16px
}

.codex-editor.codex-editor--rtl {
    direction: rtl
}

    .codex-editor.codex-editor--rtl .cdx-list {
        padding-left: 0;
        padding-right: 40px
    }

    .codex-editor.codex-editor--rtl .ce-toolbar__plus {
        right: -26px;
        left: auto
    }

    .codex-editor.codex-editor--rtl .ce-toolbar__actions {
        right: auto;
        left: -26px
    }

@media (max-width:650px) {
    .codex-editor.codex-editor--rtl .ce-toolbar__actions {
        margin-left: 0;
        margin-right: auto;
        padding-right: 0;
        padding-left: 10px
    }
}

.codex-editor.codex-editor--rtl .ce-settings {
    left: 5px;
    right: auto
}

    .codex-editor.codex-editor--rtl .ce-settings:before {
        right: auto;
        left: 25px
    }

.codex-editor.codex-editor--rtl .ce-settings__button:not(:nth-child(3n+3)) {
    margin-left: 3px;
    margin-right: 0
}

.codex-editor.codex-editor--rtl .ce-conversion-tool__icon {
    margin-right: 0;
    margin-left: 10px
}

.codex-editor.codex-editor--rtl .ce-inline-toolbar__dropdown {
    border-right: 0 solid transparent;
    border-left: 1px solid rgba(201,201,204,.48);
    margin: 0 -6px 0 6px
}

    .codex-editor.codex-editor--rtl .ce-inline-toolbar__dropdown .icon--toggler-down {
        margin-left: 0;
        margin-right: 4px
    }

@media (min-width:651px) {
    .codex-editor--narrow.codex-editor--rtl .ce-toolbar__plus {
        left: 0;
        right: 5px
    }
}

@media (min-width:651px) {
    .codex-editor--narrow.codex-editor--rtl .ce-toolbar__actions {
        left: -5px
    }
}

.ce-popover {
    opacity: 0;
    will-change: opacity,transform;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 6px;
    min-width: 200px;
    width: 200px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    max-height: 0;
    pointer-events: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #e8e8eb;
    -webkit-box-shadow: 0 3px 15px -3px rgba(13,20,33,.13);
    box-shadow: 0 3px 15px -3px rgba(13,20,33,.13);
    border-radius: 6px;
    z-index: 2
}

.ce-popover--left-oriented:before {
    left: 15px;
    margin-left: 0
}

.ce-popover--right-oriented:before {
    left: auto;
    right: 15px;
    margin-left: 0
}

.ce-popover {
    z-index: 4;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.ce-popover--opened {
    opacity: 1;
    max-height: 270px;
    pointer-events: auto;
    -webkit-animation: panelShowing .1s ease;
    animation: panelShowing .1s ease
}

@media (max-width:650px) {
    .ce-popover--opened {
        -webkit-animation: panelShowingMobile .25s ease;
        animation: panelShowingMobile .25s ease
    }
}

.ce-popover::-webkit-scrollbar {
    width: 7px
}

.ce-popover::-webkit-scrollbar-thumb {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 0 2px 2px #eff2f5;
    box-shadow: inset 0 0 2px 2px #eff2f5;
    border-color: transparent;
    border-style: solid;
    border-width: 4px 3px 4px 0
}

@media (max-width:650px) {
    .ce-popover {
        --offset: 5px;
        position: fixed;
        max-width: none;
        min-width: calc(100% - var(--offset)*2);
        left: var(--offset);
        right: var(--offset);
        bottom: calc(var(--offset) + env(safe-area-inset-bottom));
        top: auto;
        border-radius: 10px
    }
}

.ce-popover__items {
    overflow-y: auto;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain
}

@media (min-width:651px) {
    .ce-popover__items {
        margin-top: 5px
    }
}

.ce-popover__item {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    white-space: nowrap;
    padding: 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 6px
}

    .ce-popover__item:not(:last-of-type) {
        margin-bottom: 1px
    }

@media (max-width:650px) {
    .ce-popover__item {
        font-size: 16px;
        padding: 4px
    }
}

@media (hover:hover) {
    .ce-popover__item:hover:not(.ce-popover__item--no-visible-hover) {
        background-color: #eff2f5
    }

    .ce-popover__item:hover .ce-popover__item-icon {
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

.ce-popover__item--disabled {
    color: #707684;
    cursor: default;
    pointer-events: none
}

    .ce-popover__item--disabled .ce-popover__item-icon {
        -webkit-box-shadow: 0 0 0 1px #eff0f1;
        box-shadow: 0 0 0 1px #eff0f1
    }

.ce-popover__item--focused:not(.ce-popover__item--no-visible-focus) {
    -webkit-box-shadow: inset 0 0 0 1px rgba(7,161,227,.08);
    box-shadow: inset 0 0 0 1px rgba(7,161,227,.08);
    background: rgba(34,186,255,.08) !important
}

.ce-popover__item--hidden {
    display: none
}

.ce-popover__item--active {
    background: rgba(56,138,229,.1);
    color: #388ae5
}

.ce-popover__item--confirmation {
    background: #e24a4a
}

    .ce-popover__item--confirmation .ce-popover__item-icon {
        color: #e24a4a
    }

    .ce-popover__item--confirmation .ce-popover__item-label {
        color: #fff
    }

@media (hover:hover) {
    .ce-popover__item--confirmation:not(.ce-popover__item--no-visible-hover):hover {
        background: #ce4343
    }
}

.ce-popover__item--confirmation:not(.ce-popover__item--no-visible-focus).ce-popover__item--focused {
    background: #ce4343 !important
}

.ce-popover__item-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 26px;
    height: 26px;
    -webkit-box-shadow: 0 0 0 1px rgba(201,201,204,.48);
    box-shadow: 0 0 0 1px rgba(201,201,204,.48);
    border-radius: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fff;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 10px
}

    .ce-popover__item-icon svg {
        width: 20px;
        height: 20px
    }

@media (max-width:650px) {
    .ce-popover__item-icon {
        width: 36px;
        height: 36px;
        border-radius: 8px
    }

        .ce-popover__item-icon svg {
            width: 28px;
            height: 28px
        }
}

.ce-popover__item-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

    .ce-popover__item-label:after {
        content: "";
        width: 25px;
        display: inline-block
    }

.ce-popover__item-secondary-label {
    color: #707684;
    font-size: 12px;
    margin-left: auto;
    white-space: nowrap;
    letter-spacing: -.1em;
    padding-right: 5px;
    margin-bottom: -2px;
    opacity: .6
}

@media (max-width:650px) {
    .ce-popover__item-secondary-label {
        display: none
    }
}

.ce-popover__item--active .ce-popover__item-icon, .ce-popover__item--confirmation .ce-popover__item-icon, .ce-popover__item--focused .ce-popover__item-icon {
    -webkit-box-shadow: none;
    box-shadow: none
}

.ce-popover__no-found {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    white-space: nowrap;
    padding: 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 6px
}

    .ce-popover__no-found:not(:last-of-type) {
        margin-bottom: 1px
    }

@media (max-width:650px) {
    .ce-popover__no-found {
        font-size: 16px;
        padding: 4px
    }
}

.ce-popover__no-found {
    color: #707684;
    display: none;
    cursor: default
}

.ce-popover__no-found--shown {
    display: block
}

@media (max-width:650px) {
    .ce-popover__overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #1d202b;
        opacity: .5;
        z-index: 3;
        -webkit-transition: opacity .12s ease-in;
        transition: opacity .12s ease-in;
        will-change: opacity;
        visibility: visible
    }

    .ce-popover .cdx-search-field {
        display: none
    }
}

.ce-popover__overlay--hidden {
    z-index: 0;
    opacity: 0;
    visibility: hidden
}

.ce-popover__custom-content:not(:empty) {
    padding: 4px
}

@media (min-width:651px) {
    .ce-popover__custom-content:not(:empty) {
        margin-top: 5px;
        padding: 0
    }
}

.ce-popover__custom-content--hidden {
    display: none
}

.cdx-search-field {
    --icon-margin-right: 10px;
    background: rgba(232,232,235,.49);
    border: 1px solid rgba(226,226,229,.2);
    border-radius: 6px;
    padding: 2px;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto
}

.cdx-search-field__icon {
    width: 26px;
    height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: var(--icon-margin-right)
}

    .cdx-search-field__icon svg {
        width: 20px;
        height: 20px;
        color: #707684
    }

.cdx-search-field__input {
    font-size: 14px;
    outline: none;
    font-weight: 500;
    font-family: inherit;
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
    line-height: 22px;
    min-width: calc(100% - 26px - var(--icon-margin-right))
}

    .cdx-search-field__input::-webkit-input-placeholder {
        color: #707684;
        font-weight: 500
    }

    .cdx-search-field__input::-moz-placeholder {
        color: #707684;
        font-weight: 500
    }

    .cdx-search-field__input:-ms-input-placeholder {
        color: #707684;
        font-weight: 500
    }

    .cdx-search-field__input::-ms-input-placeholder {
        color: #707684;
        font-weight: 500
    }

    .cdx-search-field__input::placeholder {
        color: #707684;
        font-weight: 500
    }

 
