/* sfc-style:/home/frappe/frappe-bench/apps/frappe/frappe/public/js/frappe/file_uploader/ProgressRing.vue?type=style&index=0 */
circle[data-v-e4881e80] {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

/* sfc-style:/home/frappe/frappe-bench/apps/frappe/frappe/public/js/frappe/file_uploader/FilePreview.vue?type=style&index=0 */
.file-preview-outline[data-v-d6847533] {
    padding: 0.75rem;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
}

.file-preview[data-v-d6847533] {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.file-preview-outline + .file-preview-outline[data-v-d6847533] {
    border-top-color: var(--border-color);
}

.file-preview-outline[data-v-d6847533]:hover {
    background-color: var(--bg-color);
    border-color: var(--dark-border-color);
    border-radius: var(--border-radius);
}

.file-preview-outline:hover + .file-preview-outline[data-v-d6847533] {
    border-top-color: transparent;
}

.file-icon[data-v-d6847533] {
    border-radius: var(--border-radius);
    width: 2.625rem;
    height: 2.625rem;
    overflow: hidden;
    margin-right: var(--margin-md);
    flex-shrink: 0;
}

.file-icon img[data-v-d6847533] {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-icon .fallback[data-v-d6847533] {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.file-name[data-v-d6847533] {
    font-size: var(--text-base);
    font-weight: var(--text-bold);
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.file-size[data-v-d6847533] {
    font-size: var(--text-sm);
    color: var(--text-light);
}

.file-actions[data-v-d6847533] {
    width: 3rem;
    flex-shrink: 0;
    margin-left: auto;
    text-align: center;
}

.file-actions .btn[data-v-d6847533] {
    padding: var(--padding-xs);
    box-shadow: none;
}

.file-action-buttons[data-v-d6847533] {
    display: flex;
    justify-content: flex-end;
}

.muted[data-v-d6847533] {
    opacity: 0.5;
    transition: 0.3s;
}

    .muted[data-v-d6847533]:hover {
        opacity: 1;
    }

.frappe-checkbox[data-v-d6847533] {
    font-size: var(--text-sm);
    color: var(--text-light);
    display: flex;
    align-items: center;
    padding-top: 0.25rem;
}

.config-area[data-v-d6847533] {
    gap: 0.5rem;
}

/* sfc-style:/home/frappe/frappe-bench/apps/frappe/frappe/public/js/frappe/file_uploader/TreeNode.vue?type=style&index=0 */
.btn-load-more[data-v-877e6dee] {
    margin-left: 1.6rem;
    margin-top: 0.5rem;
}

.popover[data-v-877e6dee] {
    padding: 10px;
}

/* sfc-style:/home/frappe/frappe-bench/apps/frappe/frappe/public/js/frappe/file_uploader/FileBrowser.vue?type=style&index=0 */
.file-browser-list[data-v-1d966cc2] {
    height: 300px;
    overflow: hidden;
    margin-top: 10px;
}

.file-filter[data-v-1d966cc2] {
    padding: 3px;
}

.tree[data-v-1d966cc2] {
    overflow: auto;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4rem;
}

/* sfc-style:/home/frappe/frappe-bench/apps/frappe/frappe/public/js/frappe/file_uploader/WebLink.vue?type=style&index=0 */
.file-web-link .input-group[data-v-55466dd8] {
    margin-top: 10px;
}

/* node_modules/cropperjs/dist/cropper.min.css */
.cropper-container {
    direction: ltr;
    font-size: 0;
    line-height: 0;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .cropper-container img {
        backface-visibility: hidden;
        display: block;
        height: 100%;
        image-orientation: 0deg;
        max-height: none !important;
        max-width: none !important;
        min-height: 0 !important;
        min-width: 0 !important;
        width: 100%;
    }

.cropper-canvas,
.cropper-crop-box,
.cropper-drag-box,
.cropper-modal,
.cropper-wrap-box {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.cropper-canvas,
.cropper-wrap-box {
    overflow: hidden;
}

.cropper-drag-box {
    background-color: #fff;
    opacity: 0;
}

.cropper-modal {
    background-color: #000;
    opacity: .5;
}

.cropper-view-box {
    display: block;
    height: 100%;
    outline: 1px solid #39f;
    outline-color: rgba(51, 153, 255, .75);
    overflow: hidden;
    width: 100%;
}

.cropper-dashed {
    border: 0 dashed #eee;
    display: block;
    opacity: .5;
    position: absolute;
}

    .cropper-dashed.dashed-h {
        border-bottom-width: 1px;
        border-top-width: 1px;
        height: 33.33333%;
        left: 0;
        top: 33.33333%;
        width: 100%;
    }

    .cropper-dashed.dashed-v {
        border-left-width: 1px;
        border-right-width: 1px;
        height: 100%;
        left: 33.33333%;
        top: 0;
        width: 33.33333%;
    }

.cropper-center {
    display: block;
    height: 0;
    left: 50%;
    opacity: .75;
    position: absolute;
    top: 50%;
    width: 0;
}

    .cropper-center:after,
    .cropper-center:before {
        background-color: #eee;
        content: " ";
        display: block;
        position: absolute;
    }

    .cropper-center:before {
        height: 1px;
        left: -3px;
        top: 0;
        width: 7px;
    }

    .cropper-center:after {
        height: 7px;
        left: 0;
        top: -3px;
        width: 1px;
    }

.cropper-face,
.cropper-line,
.cropper-point {
    display: block;
    height: 100%;
    opacity: .1;
    position: absolute;
    width: 100%;
}

.cropper-face {
    background-color: #fff;
    left: 0;
    top: 0;
}

.cropper-line {
    background-color: #39f;
}

    .cropper-line.line-e {
        cursor: ew-resize;
        right: -3px;
        top: 0;
        width: 5px;
    }

    .cropper-line.line-n {
        cursor: ns-resize;
        height: 5px;
        left: 0;
        top: -3px;
    }

    .cropper-line.line-w {
        cursor: ew-resize;
        left: -3px;
        top: 0;
        width: 5px;
    }

    .cropper-line.line-s {
        bottom: -3px;
        cursor: ns-resize;
        height: 5px;
        left: 0;
    }

.cropper-point {
    background-color: #39f;
    height: 5px;
    opacity: .75;
    width: 5px;
}

    .cropper-point.point-e {
        cursor: ew-resize;
        margin-top: -3px;
        right: -3px;
        top: 50%;
    }

    .cropper-point.point-n {
        cursor: ns-resize;
        left: 50%;
        margin-left: -3px;
        top: -3px;
    }

    .cropper-point.point-w {
        cursor: ew-resize;
        left: -3px;
        margin-top: -3px;
        top: 50%;
    }

    .cropper-point.point-s {
        bottom: -3px;
        cursor: s-resize;
        left: 50%;
        margin-left: -3px;
    }

    .cropper-point.point-ne {
        cursor: nesw-resize;
        right: -3px;
        top: -3px;
    }

    .cropper-point.point-nw {
        cursor: nwse-resize;
        left: -3px;
        top: -3px;
    }

    .cropper-point.point-sw {
        bottom: -3px;
        cursor: nesw-resize;
        left: -3px;
    }

    .cropper-point.point-se {
        bottom: -3px;
        cursor: nwse-resize;
        height: 20px;
        opacity: 1;
        right: -3px;
        width: 20px;
    }

@media (min-width:768px) {
    .cropper-point.point-se {
        height: 15px;
        width: 15px;
    }
}

@media (min-width:992px) {
    .cropper-point.point-se {
        height: 10px;
        width: 10px;
    }
}

@media (min-width:1200px) {
    .cropper-point.point-se {
        height: 5px;
        opacity: .75;
        width: 5px;
    }
}

.cropper-point.point-se:before {
    background-color: #39f;
    bottom: -50%;
    content: " ";
    display: block;
    height: 200%;
    opacity: 0;
    position: absolute;
    right: -50%;
    width: 200%;
}

.cropper-invisible {
    opacity: 0;
}

.cropper-bg {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC);
}

.cropper-hide {
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.cropper-hidden {
    display: none !important;
}

.cropper-move {
    cursor: move;
}

.cropper-crop {
    cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
    cursor: not-allowed;
}

/* sfc-style:/home/frappe/frappe-bench/apps/frappe/frappe/public/js/frappe/file_uploader/ImageCropper.vue?type=style&index=0 */
img[data-v-21184c3b] {
    display: block;
    max-width: 100%;
    max-height: 600px;
}

.image-cropper-actions[data-v-21184c3b] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--margin-md);
}

/* sfc-style:/home/frappe/frappe-bench/apps/frappe/frappe/public/js/frappe/file_uploader/FileUploader.vue?type=style&index=0 */
.file-upload-area[data-v-8673c2f5] {
    min-height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed var(--dark-border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--bg-color);
}

.btn-file-upload[data-v-8673c2f5] {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: var(--text-xs);
}
/*!
 * Cropper.js v1.6.1
 * https://fengyuanchen.github.io/cropperjs
 *
 * Copyright 2015-present Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2023-09-17T03:44:17.565Z
 */
/*# sourceMappingURL=file_uploader.bundle.FWYR4FGP.css.map */
 
