@model MalzemeStokVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}<style>
     input[type="file"]::file-selector-button {
         background-color: #4CAF50;
         color: white;
         padding: 6px 20px;
         border: none;
         border-radius: 5px;
         cursor: pointer;
     }
 
</style>
<style>
    #results {
        /* border: 1px solid #ddd; */
        max-height: 150px;
        overflow-y: auto;
        list-style-type: none; /* Liste işaretlerini kaldırır */
        padding: 0;
        margin: 0;
    }

        #results li {
            padding: 8px;
            cursor: pointer;
        }

            #results li:hover {
                background-color: #f0f0f0;
            }
</style>
<form asp-controller="Stok" asp-action="_VeriEkleCoklu" class="form" method="post" name="_VeriEkleCoklu" id="_VeriEkleCoklu">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Malzeme Hareketi Yeni Kayıt</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Kapat"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          @*   <div class="text-right">
                <input type="file" name="file" id="file"  />
                <button type="button" id="uploadButton" class="btn btn-success btn-sm mr-4">Yükle</button>
                <a href="/Stok/DownloadExcelFile" class="btn btn-bg-light btn-sm" title="Excel dosyasını indiriniz, malzeme miktar ve açıklama alanlarını doldurunuz. Soldaki dosya yükleme alanından toplu yükleme yapabilirsiniz."><i class="fas fa-file-excel text-success"></i>Excel İndir</a>
            </div>
            <hr /> *@
            <div class="form-group row">

                <div class="col-lg-5">
                    <label asp-for="HareketTur" class="control-label"></label>
                    <select asp-for="HareketTur" class="form-control form-control-sm" asp-items="@ViewBag.HareketTurListe"  disabled="disabled"></select>
                    <input type="hidden" asp-for="HareketTurID" />
                    <input type="hidden" asp-for="GirisCikisDurum" />
                </div>
                <div class="col-lg-5">
                    <label asp-for="DepoAd" class="control-label"></label>

                    <select asp-for="DepoID" class="form-control form-control-sm" asp-items="@ViewBag.DepoListe"></select>
                </div>
                <div class="col-lg-2">
                    <label asp-for="Tarih" class="control-label"></label>

                    <input asp-for="Tarih" class="form-control form-control-sm" type="date" required />
                </div>
             
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    <label asp-for="SktTarih" class="control-label"></label>
                    <input asp-for="SktTarih" class="form-control form-control-sm" type="date" required />
                </div>
                <div class="col-lg-2">
                    <label asp-for="LotNumara" class="control-label"></label>
                    <input asp-for="LotNumara" class="form-control form-control-sm"  required />
                </div>
                <div class="col-lg-8">
                    <label asp-for="Aciklama" class="control-label"></label>
                    <textarea asp-for="Aciklama" type="text" class="form-control form-control-sm" rows="1" required></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-4"> 
                    <label class="control-label">Malzeme Seç</label>
                    <input type="text" class="form-control form-control-sm" id="search-box" placeholder="Malzeme Ara..." autocomplete="off"  />
                    <input type="hidden" asp-for="MalzemeID" />
                    <ul class="col-md-12" id="results"></ul>
                </div>
                <div class="col-lg-1">
                    <label asp-for="Miktar" class="control-label"></label>
                    <input asp-for="Miktar" class="form-control form-control-sm"  value=""/>
                </div>
                <div class="col-lg-1">
                    <label asp-for="BirimAd" class="control-label"></label>
                    <input asp-for="BirimAd" class="form-control form-control-sm"  tabindex="-1" />
                    <input asp-for="BirimID" type="hidden" />                   
                </div>
                <div class="col-lg-3">
                    <label asp-for="Aciklama" class="control-label"></label>
                    <input asp-for="MalzemeAciklama" class="form-control form-control-sm" />
                </div>
                <div class="col-lg-3">
                    <button type="button" onclick="MalzemeEkle()" class="btn btn-success btn-sm mt-7">Malzeme Ekle</button>
                </div> 
            </div>
            <div id="MalzemeEklenenListe">
                @{
                    await Html.RenderPartialAsync("_MalzemeEklenen", Model);
                }
            </div>
           
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            <button type="submit" class="btn btn-success">Kaydet</button>
        </div>
    </div>
    
  </form>

<script>
    $(document).ready(function() {
        $("#search-box").on("input", function() {
            var query = $(this).val();
            if (query.length >= 3) {
                $.ajax({
                    url: '/Stok/MalzemeAra',
                    type: 'GET',
                    data: { kelime: query },
                    success: function(data) {
                        var results = $("#results");
                        results.empty();
                        $.each(data, function(index, malzeme) {
                            console.log("data:",data);
                            results.append('<li data-id="' + malzeme.id + '" data-birim-id="' + malzeme.birimID + '" data-birim-ad="' + malzeme.birimAd + '">' + malzeme.kod + ' ' + malzeme.ad + '</li>');
                        });
                    }
                });
            } else {
                $("#results").empty();
            }
        });

        $(document).on("click", "#results li", function() {
            var malzemeAd = $(this).text();
            var malzemeId = $(this).data("id");
            var malzemeBirimId = $(this).data("birim-id");
            var malzemeBirimAd = $(this).data("birim-ad");

            $("#BirimID").val(malzemeBirimId);
            $("#BirimAd").val(malzemeBirimAd);
            $("#search-box").val(malzemeAd);
            $("#MalzemeID").val(malzemeId);
            $("#results").empty();
            // Miktar textbox'ına odaklanıyoruz
            $("#Miktar").focus();
        });
    });
</script>

<script>
    function MalzemeEkle() {
        var MalzemeID = $('#MalzemeID').val();
        var Miktar = $('#Miktar').val();
        var MalzemeAciklama = $('#MalzemeAciklama').val();

        $.ajax({
            url: '@Url.Action("_MalzemeStokEkle", "Stok")',
            type: 'GET',
            dataType: "html",
            data: {
                MalzemeID: MalzemeID,
                Miktar: Miktar,
                MalzemeAciklama: MalzemeAciklama
            },
            success: function(response) {
                $('#MalzemeEklenenListe').html(response);
                $('#MalzemeID').val('');
                $('#Miktar').val('');
                $('#BirimAd').val('');
                $('#BirimID').val('');
                $('#MalzemeAciklama').val('');
                $('#search-box').val('');
                $('#search-box').focus();
            },
            error: function(error) {
                alert('Kayıt ekleme başarısız oldu.');
            }
        });
    }
</script>
<script>
    $(document).on('click', '.remove-item', function() {
        var malzemeId = $(this).data('id');

        $.ajax({
            url: '@Url.Action("MalzemeCikar", "Stok")', 
            type: 'POST',
            type: 'GET',
            dataType: "html",
            data: { malzemeId: malzemeId },
            success: function(response) {
                $('#MalzemeEklenenListe').html(response);
                
            },
            error: function() {
                alert('Bir hata oluştu. Lütfen tekrar deneyin.');
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#uploadButton').click(function (event) {
            event.preventDefault();
            // Form verisini al
            var formData = new FormData($('#_VeriEkleCoklu')[0]);

            $.ajax({
                url: '/Stok/UploadExcel', // Controller URL
                type: 'POST',
                data: formData,
                contentType: false, // Bu iki özellik formData ile birlikte olmalı
                processData: false,
                success: function (response) {
                   $('#MalzemeEklenenListe').html(response);
                },
                error: function (xhr, status, error) {
                   alert('Bir hata oluştu. Lütfen tekrar deneyin.');
                }
            });
        });
    });
</script>