@model MalzemelerVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form   method="post" name="Malzeme_VeriEkle" id="Malzeme_VeriEkle">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Malzeme Görüntüle</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Kapat"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-sm table-bordered TableSmallFont" width="100%" cellspacing="0">
                    <tr>
                        <td> <label asp-for="BirimID" class="control-label"></label></td>
                        <td>
                            <select asp-for="BirimID" class="form-control form-control-sm" asp-items="@ViewBag.MalzemeBirimListe" id="MalzemeBirimListe" disabled="disabled"></select>

                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="TipID" class="control-label"></label></td>
                        <td>
                            <select asp-for="TipID" class="form-control form-control-sm" asp-items="@ViewBag.MalzemeTipiListe" id="MalzemeTipiListe" disabled="disabled"></select>

                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="Kod" class="control-label"></label></td>
                        <td><input asp-for="Kod" class="form-control form-control-sm" disabled="disabled" /></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Ad" class="control-label"></label></td>
                        <td><input asp-for="Ad" class="form-control form-control-sm" disabled="disabled" /></td>
                    </tr>
                    <tr>
                        <td><label asp-for="Kdv" class="control-label"></label></td>
                        <td><input asp-for="Kdv" class="form-control form-control-sm" disabled="disabled" /></td>
                    </tr>
                    <tr>
                        <td><label asp-for="KritikMiktar" class="control-label"></label></td>
                        <td><input asp-for="KritikMiktar" class="form-control form-control-sm" disabled="disabled" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Açıklama</label></td>
                        <td>

                            <textarea asp-for="Aciklama" type="text" class="form-control form-control-sm" rows="2" disabled="disabled"></textarea>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="small">
                                Kayıt Oluşturan: @Model.CreateUserName
                                Oluşturma Tarihi:@Model.CreateDate?.ToString("dd.MM.yyyy HH:mm")
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="modal-footer"> 
            <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button> 
        </div>
    </div>
</form>