@model MalzemeGrup
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-controller="Stok" asp-action="AltGrup_VeriSil" method="post" name="_VeriSil">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">Gruplar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Kapat"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
            <div class="table-responsive">
                <table class="table" width="100%" cellspacing="0">
                    <tr>
                        <td>
                            <div class="form-group">
                                <label asp-for="Ad" class="control-label"></label>
                                <input asp-for="Ad" class="form-control" disabled="disabled" />
                                <span asp-validation-for="Ad" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label asp-for="Kod" class="control-label"></label>
                                <input asp-for="Kod" class="form-control" disabled="disabled" />
                                <span asp-validation-for="Kod" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="form-group">
                                <label asp-for="Aciklama" class="control-label"></label>
                                <textarea asp-for="Aciklama" type="text" class="form-control" rows="2" disabled="disabled"></textarea>
                                <span asp-validation-for="Aciklama" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="ParentID" />
            <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            <button type="submit" class="btn btn-success">Silme İşlemi Onayla</button>
        </div>

    </div>
</form>