@{
	Layout = "~/Views/Shared/Metronic44/_LayoutMetronic44.cshtml";
}
<!--begin::Row-->
<div class="row">
	<!--begin::Col-->
	<!--begin::Card-->
	<div class="card card-flush">
		 
		<!--begin::Card body-->
		<div class="card-body pt-1 row">
			<div class="col-md-4">
				<!--begin::Users-->
				<h2 class="mt-5">Talep</h2>
				<!--end::Users-->
				<!--begin::Permissions-->
				<div class="d-flex flex-column text-gray-600">
					<div class="d-flex align-items-center py-2">
						<span class="bullet bg-primary me-3"></span>Yeni Talep
					</div>
					<div class="d-flex align-items-center py-2">
						<span class="bullet bg-primary me-3"></span>Talep Onayla
					</div>
					<div class="d-flex align-items-center py-2">
						<span class="bullet bg-primary me-3"></span>Arşiv
					</div>
					 
				</div>
				<!--end::Permissions-->
			</div>
			<div class="col-md-4">
				<!--begin::Users-->
				<h2 class="mt-5">&nbsp;</h2>
				<!--end::Users-->
				<!--begin::Permissions-->
				<div class="d-flex flex-column text-gray-600">
					<div class="d-flex align-items-center py-2">
						<span class="bullet bg-primary me-3"></span>All Admin Controls
					</div>
					<div class="d-flex align-items-center py-2">
						<span class="bullet bg-primary me-3"></span>View and Edit Financial Summaries
					</div>
					<div class="d-flex align-items-center py-2">
						<span class="bullet bg-primary me-3"></span>Enabled Bulk Reports
					</div>
					<div class="d-flex align-items-center py-2">
						<span class="bullet bg-primary me-3"></span>View and Edit Payouts
					</div>
					<div class="d-flex align-items-center py-2">
						<span class="bullet bg-primary me-3"></span>View and Edit Disputes
					</div>
					<div class='d-flex align-items-center py-2'>
						<span class='bullet bg-primary me-3'></span>
						<em>and 7 more...</em>
					</div>
				</div>
				<!--end::Permissions-->
			</div>
		</div>
		<!--end::Card body-->
		<!--begin::Card footer-->
		<div class="card-footer flex-wrap pt-0">
			<a href="apps/user-management/roles/view.html" class="btn btn-light btn-active-primary my-1 me-2">View Role</a>
			<button type="button" class="btn btn-light btn-active-light-primary my-1" data-bs-toggle="modal" data-bs-target="#kt_modal_update_role">Edit Role</button>
		</div>
		<!--end::Card footer-->
	</div>
	<!--end::Card-->
	<!--end::Col-->
 
</div>
<!--end::Row-->
 
