@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 



<div class="container-fluid">
<div class="card shadow">
    <div class="card-header py-2">
        <div class="row">
            <div class="col-md-3"><span class="font-weight-bold"> TANIMLAMALAR LİSTESİ </span></div>
         
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
                <table class="table table-sm table-bordered TableSmallFont" width="100%" cellspacing="0">
                    <tr>
                        <th>Bağlantı</th>
                        <th>Açıklama</th>
                    </tr>
                    <tr>
                        <td><a href="/ImarBirimSorumlusu/Index">Birim Sorumlusu</a></td>
                        <td>Birim Sorumlusu</td>
                    </tr>
                    <tr>
                        <td><a href="/ImarBelediyeBaskanYardimcisi/Index">Başkan Yardımcısı</a></td>
                        <td>Başkan Yardımcısı</td>
                    </tr>
                    <tr>
                        <td><a href="/ImarInsaatTeknikeri/Index">İnşaat Teknikeri</a></td>
                        <td>İnşaat Teknikeri</td>
                    </tr>
                    <tr>
                        <td><a href="/ImarMimar/Index">Mimar</a></td>
                        <td>Mimar</td>
                    </tr>
                    <tr>
                        <td><a href="/ImarMuduru/Index">İmar Müdürü</a></td>
                        <td>İmar Müdürü</td>
                    </tr>
                    <tr>
                        <td><a href="/ImarTasinmazTur/Index">İmar Taşınmaz Tür</a></td>
                        <td>İmar Taşınmaz Tür</td>
                    </tr>
                    <tr>
                        <td><a href="/ImarYapiCinsi/Index">İmar Yapı Cinsi</a></td>
                        <td>İmar Yapı Cinsi</td>
                    </tr>
                </table>
        </div>
    </div>
</div>
</div>