@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-2">
            <div class="row">
                <div class="col-md-3"><span class="font-weight-bold"> TANIMLAMALAR LİSTESİ </span></div>

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm table-bordered TableSmallFont" width="100%" cellspacing="0">
                    <tr>
                        <th>Bağlantı</th>
                        <th>Açıklama</th>
                    </tr>
                    <tr>
                        <td><a href="/Departman/Index">Departman</a></td>
                        <td>Departman</td>
                    </tr>
                    <tr>
                        <td><a href="/ProtokolDurum/Index">Protokol Durum</a></td>
                        <td>Protokol Durum</td>
                    </tr>
                    <tr>
                        <td><a href="/ProtokolKonu/Index">Protokol Konu</a></td>
                        <td>Protokol Konu</td>
                    </tr>
                    <tr>
                        <td><a href="/ProtokolTaraf/Index">Protokol Taraf</a></td>
                        <td>Protokol Taraf</td>
                    </tr>
                   
                </table>
            </div>
        </div>
    </div>
</div>