@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 

<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-2">
            <div class="row">
                <div class="col-md-3"><span class="font-weight-bold"> TANIMLAMALAR LİSTESİ </span></div>

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm table-bordered TableSmallFont" width="100%" cellspacing="0">
                    <tr>
                        <th>Bağlantı</th>
                        <th>Açıklama</th>
                    </tr>
                    <tr>
                        <td><a href="/TeslimAlanEden/Index">Teslim Alan Eden</a></td>
                        <td>Teslim Alan Eden</td>
                    </tr>
                    <tr>
                        <td><a href="/SosyalGuvence/Index">Sosyal Güvence</a></td>
                        <td>Sosyal Güvence</td>
                    </tr>
                    <tr>
                        <td><a href="/SosyalDurum/Index">Sosyal Durum</a></td>
                        <td>Sosyal Durum</td>
                    </tr>
                    <tr>
                        <td><a href="/YardimCinsi/Index">Yardım Cinsi</a></td>
                        <td>Yardım Cinsi</td>
                    </tr>
                    <tr>
                        <td><a href="/Mahalle/Index">Mahalle</a></td>
                        <td>Mahalle</td>
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>
</div>