@model MalzemelerVM;

@{
}

<table class="table table-sm table-bordered" width="100%" cellspacing="0">
    <thead>
        <tr>
            <td>Güncelleme Zamanı</td>
            <td>Fiyat</td>
            <td>Döviz Türü</td>
            <td>Açıklama</td>
        </tr>
    </thead>
    <tbody>
        @foreach (MalzemeFiyat item in Model.MalzemeFiyatListe)
        {
            <tr>
                <td>@item.Tarih?.ToString("dd.MM.yyyy HH:mm")</td>
                <td class="text-right">@String.Format("{0:n2}", item.Fiyat)</td>
                <td>@item.DovizTur</td>
                <td>@item.Aciklama</td>
            </tr>
        }
    </tbody>
</table>
