





<table class="table">
    <thead>
        <tr>
            <th colspan="2">İade Prosedürü</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Kredi kartı taksidiyle alınan ürünlerin tutar iadesinde; Alışveriş kredi kartı ile ve taksitli olarak yapılmışsa, Alıcı ürünü kaç taksit ile aldıysa Banka Alıcı'ya geri ödemesini taksitle yapmaktadır. Satıcı bankaya ürün bedelinin tamamını tek seferde ödedikten sonra, Banka poslarından yapılan taksitli harcamaların Alıcı'nın kredi kartına iadesi durumunda, konuya müdahil tarafların mağdur duruma düşmemesi için talep edilen iade tutarları, yine taksitli olarak hamil taraf hesaplarına Banka tarafından aktarılır. Alıcı'nın satış iptaline kadar ödemiş olduğu taksit tutarları, eğer iade tarihi ile kartın hesap kesim tarihleri çakışmazsa her ay karta 1 (bir) iade yansıyacak ve Alıcı iade öncesinde ödemiş olduğu taksitleri satışın taksitleri bittikten sonra, iade öncesinde ödemiş olduğu taksitleri sayısı kadar ay daha alacak ve mevcut borçlarından düşmüş olacaktır.</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Kart ile alınmış mal ve hizmetin iadesi durumunda Satıcı, Banka ile yapmış olduğu sözleşme gereği Alıcı 'ya nakit para ile ödeme yapamaz. Satıcı, bir iade işlemi söz konusu olduğunda ilgili yazılım aracılığı ile iadesini yapacak olup, Satıcı ilgili tutarı Banka'ya nakden veya mahsuben ödemekle yükümlü olduğundan yukarıda anlatmış olduğumuz prosedür gereğince Alıcı'ya nakit olarak ödeme yapılamamaktadır. Kredi kartına iade, Satıcı'nın Banka'ya bedeli tek seferde ödemesinden sonra, Banka tarafından yukarıdaki prosedür gereğince yapılacaktır.</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Havale/EFT yoluyla alınmış mal ve hizmetin iadesi durumunda SATICI, Banka ile yapmış olduğu sözleşme gereği Alıcı'ya nakit para ile ödeme yapamaz. SATICI, bir iade işlemi söz konusu olduğunda ilgili yazılım aracılığı ile iadesini yapacak olup, SATICI ilgili tutarı Banka'ya nakden veya mahsuben ödemekle yükümlü olduğundan yukarıda anlatmış olduğumuz prosedür gereğince Alıcı'ya nakit olarak ödeme yapılamamaktadır.</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Alıcı, bu prosedürü okuduğunu ve kabul ettiğini kabul ve taahhüt eder.</td>
        </tr>
    </tbody>
</table>
