<table class="table">
    <thead>
        <tr>
            <th colspan="2">MESAFELİ SATIŞ SÖZLEŞMESİ</th>
        </tr>
        <tr>
            <th colspan="2"> Bu sözleşme 13.06.2003 tarih ve 25137 sayılı Resmî Gazetede yayınlanan Mesafeli Sözleşmeler Uygulama Usul ve Esasları Hakkında Yönetmelik gereği internet üzerinden gerçekleştiren satışlar için sözleşme yapılması zorunluluğuna istinaden düzenlenmiş olup, maddeler halinde aşağıdaki gibidir.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th colspan="2"> MADDE 6 - CAYMA HAKKI</th>
        </tr>
        <tr>
            <th width="25px">6.1</th>
            <td>
                ALICI, sözleşme konusu ürünün kendisine veya gösterdiği adresteki kişi/kuruluşa tesliminden itibaren (7) gün içinde cayma hakkına sahiptir.
                Cayma hakkının kullanılması için bu süre içinde faks, mail veya telefon ile bildirimde bulunulması ve ürünün ilgili madde hükümleri çerçevesinde kullanılmamış olması şarttır.
                Bu hakkın kullanılması halinde, 3. kişiye veya ALICI'ya teslim edilen ürünün
                AFYON ET ENTEGRE A.Ş.’ e gönderildiğine ilişkin kargo teslim tutanağı örneği ile fatura aslının iadesi zorunludur.
                Bu belgelerin ulaşmasını takip eden 7 gün içinde ürün bedeli ALICI'ya iade edilir. Fatura aslı gönderilmez ise KDV ve varsa sair
                yasal yükümlülükler iade edilemez. Cayma hakkı nedeni ile iade edilen ürünün kargo bedeli SATICI tarafından karşılanır.
            </td>
        </tr>
        <tr>
            <th width="25px">6.1</th>
            <td>
                Ayrıca, tüketicinin özel istek ve talepleri uyarınca üretilen veya üzerinde değişiklik ya da ilaveler yapılarak kişiye özel hale getirilen, niteliği itibari ile hızlı bozulma veya son kullanma tarihi geçme ihtimali olan mallar söz konusu olduğunda tüketici cayma hakkını kullanamaz.
                Ödemenin kredi kartı veya benzeri bir ödeme kartı ile yapılması halinde tüketici, kartın kendi rızası dışında ve hukuka aykırı biçimde kullanıldığı gerekçesiyle ödeme işleminin iptal edilmesini talep edebilir. Bu halde, kartı çıkaran kuruluş itirazın kendisine bildirilmesinden itibaren 10 gün içinde ödeme tutarını tüketiciye iade eder.
                Talepleriniz sipariş sonunda belirlemiş olduğunuz teslimat tipine göre hazırlanmak üzere işleme alınacaktır.
            </td>
        </tr>
        <tr>
            <th width="25px">6.1</th>
            <td>
                Bu sözleşmenin uygulanmasında, Sanayi ve Ticaret Bakanlığınca ilan edilen değere kadar Tüketici Hakem Heyetleri ile AFYON ET ENTEGRE A.Ş. ’in yerleşim yerindeki Tüketici Mahkemeleri yetkilidir.
                Siparişin sonuçlanması durumunda ALICI işbu sözleşmenin tüm koşullarını kabul etmiş sayılacaktır.
            </td>
        </tr>

    </tbody>
</table>
