  
<table class="table">
    <thead>
        <tr>
            <th colspan="2">MESAFELİ SATIŞ SÖZLEŞMESİ</th>
        </tr>
        <tr>
            <th colspan="2"> Bu sözleşme 13.06.2003 tarih ve 25137 sayılı Resmî Gazetede yayınlanan Mesafeli Sözleşmeler Uygulama Usul ve Esasları Hakkında Yönetmelik gereği internet üzerinden gerçekleştiren satışlar için sözleşme yapılması zorunluluğuna istinaden düzenlenmiş olup, maddeler halinde aşağıdaki gibidir.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th colspan="2"> MADDE 1. KONU</th>
        </tr>
        <tr>
            <td colspan="2">  Sözleşmenin konusu, SATICI'nın, ALICI'ya satışını yaptığı, aşağıda nitelikleri belirtilen ürünün satışı ve teslimi ile ilgili olarak 4077 sayılı Tüketicilerin Korunması Hakkındaki Kanun-Mesafeli Sözleşmeleri Uygulama Esas ve Usulleri Hakkında Yönetmelik hükümleri gereğince tarafların hak ve yükümlülüklerinin kapsamaktadır.</td>
        </tr>
        <tr>
            <th colspan="2"> MADDE 2.1- SATICI BİLGİLERİ</th>
        </tr>
        <tr>
            <td colspan="2">
                Adres: Organize Sanayi Bölgesi 4.Cadde 6.Sokak No:2
                AFYON ET ENTEGRE A.Ş.
                İletişim: +90 272 221 18 28
                Fax: +90 272 221 18 38
                Mail: info@afyonet.com.tr
            </td>
        </tr>
        <tr>
            <th colspan="2">MADDE 2.2- ALICI BİLGİLERİ</th>
        </tr>
        <tr>
            <td colspan="2">İnternet, telefon yoluyla veya birebir iletişim kurarak AFYON ET ENTEGRE A.Ş. hizmetlerine erişen, bireysel ve kurumsal bilgilerini kullanan, bu bilgilere dayalı olarak işlem yapan gerçek veya tüzel kişilerdir.</td>
        </tr>
        <tr>
            <th colspan="2">MADDE 3.- SÖZLEŞME KONUSU ÜRÜN BİLGİLERİ</th>
        </tr>
        <tr>
            <td colspan="2">Malın / Ürünün türü, miktarı, marka/modeli ve adedi siparişin sonlandığı andaki bilgilerden oluşmaktadır. Sipariş talebi, satıcı kurum tarafına ulaştığı takdirde ilgili ürün ve fiyat değerlendirmesi yapılacaktır.</td>
        </tr>
        <tr>
            <th colspan="2">MADDE 4- GENEL HÜKÜMLER</th>
        </tr>
        <tr>
            <th width="25px">4.1</th>
            <td>ALICI, Madde 3'te belirtilen sözleşme konusu ürün veya ürünlerin temel nitelikleri, ödeme şekli ile teslimata ilişkin tüm ön bilgileri okuyup bilgi sahibi olduğunu ve elektronik ortamda gerekli teyidi verdiğini beyan eder.</td>
        </tr>
        <tr>
            <th width="25px">4.2</th>
            <td>Sözleşme konusu ürün veya ürünler, yasal 30 günlük süreyi aşmamak koşulu ile her bir ürün için ALICI'nın yerleşim yerinin uzaklığına bağlı olarak ön bilgiler içinde açıklanan süre içinde ALICI veya gösterdiği adresteki kişi/kuruluşa teslim edilir. Bu süre ALICI’ya daha önce bildirilmek kaydıyla en fazla 10 gün daha uzatılabilir.</td>
        </tr>
        <tr>
            <td width="25px">4.3</td>
            <td>Sözleşme konusu ürün, ALICI'dan başka bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kişi/kuruluşun teslimatı kabul etmemesinden AFYON ET ENTEGRE A.Ş. sorumlu tutulamaz.</td>
        </tr>
        <tr>
            <th width="25px">4.4</th>
            <td>AFYON ET ENTEGRE A.Ş. sözleşme konusu ürünün eksiksiz, siparişte belirtilen niteliklere uygun ve varsa garanti belgeleri ve kullanım kılavuzları ile teslim edilmesinden sorumludur.</td>
        </tr>
        <tr>
            <th width="25px">4.5</th>
            <td>Sipariş konusu ürünün teslimatı için bedelinin ALICI'nın tercih ettiği ödeme şekli ile ödenmiş olması şarttır. Herhangi bir nedenle ürün bedeli ödenmez veya banka kayıtlarında iptal edilir ise, AFYON ET ENTEGRE A.Ş. ürünün teslimi yükümlülüğünden kurtulmuş kabul edilir.</td>
        </tr>
        <tr>
            <th width="25px">4.6</th>
            <td>Ürünün tesliminden sonra ALICI'ya ait kredi kartının ALICI'nın kusurundan kaynaklanmayan bir şekilde yetkisiz kişilerce haksız veya hukuka aykırı olarak kullanılması nedeni ile ilgili banka veya finans kuruluşun ürün AFYON ET ENTEGRE A.Ş. 'e ödememesi halinde, ALICI'nın kendisine teslim edilmiş olması kaydıyla ürünün 3 gün içinde AFYON ET ENTEGRE A.Ş. 'e gönderilmesi zorunludur. Bu takdirde nakliye giderleri ALICI'ya aittir.</td>
        </tr>
        <tr>
            <th width="25px">4.7</th>
            <td>AFYON ET ENTEGRE A.Ş., mücbir sebepler veya nakliyeyi engelleyen hava muhalefeti, ulaşımın kesilmesi gibi olağanüstü durumlar nedeni ile sözleşme konusu ürünü süresi içinde teslim edemez ise, durumu ALICI'ya bildirmekle yükümlüdür. Bu takdirde ALICI siparişin iptal edilmesini, sözleşme konusu ürünün varsa emsali ile değiştirilmesini, ve/veya teslimat süresinin engelleyici durumun ortadan kalkmasına kadar ertelenmesi haklarından birini kullanabilir. ALICI'nın siparişi iptal etmesi halinde ödediği tutar 10 gün içinde kendisine nakden ödenir.</td>
        </tr>
        <tr>
            <th width="25px">4.8</th>
            <td>Garanti belgesi ile satılan ürünlerden olan veya olmayan ürünlerin arızalı veya bozuk olanlar, garanti şartları içinde gerekli onarımın yapılması için AFYON ET ENTEGRE A.Ş.’ e gönderilebilir.</td>
        </tr>

        <tr>
            <th colspan="2"> MADDE 5 - İADE KOŞULLARI</th>
        </tr>
        <tr>
            <th width="25px">5.1</th>
            <td>SATICI, cayma bildiriminin kendisine ulaşmasından itibaren en geç 10 günlük süre içerisinde toplam bedeli ve
             ALICI’yı borç altına sokan belgeleri ALICI’ ya iade etmek ve 20 günlük süre içerisinde malı iade almakla yükümlüdür.</td>
        </tr>
        <tr>
            <th width="25px">5.2</th>
            <td>ALICI’ nın kusurundan kaynaklanan bir nedenle malın değerinde bir azalma olursa veya iade imkânsızlaşırsa ALICI kusuru oranında SATICI’ nın zararlarını tazmin etmekle yükümlüdür. 
            Ancak cayma hakkı süresi içinde malın veya ürünün usulüne uygun kullanılması sebebiyle meydana gelen değişiklik ve bozulmalardan ALICI sorumlu değildir. </td>
        </tr>
        <tr>
            <th width="25px">5.3</th>
            <td>Cayma hakkının kullanılması nedeniyle SATICI tarafından düzenlenen kampanya limit tutarının altına düşülmesi halinde kampanya kapsamında faydalanılan indirim miktarı iptal edilir.</td>
        </tr>



        <tr>
            <th colspan="2"> MADDE 6 - CAYMA HAKKI</th>
        </tr>
        <tr>
            <th width="25px">6.1</th>
            <td>
                ALICI, sözleşme konusu ürünün kendisine veya gösterdiği adresteki kişi/kuruluşa tesliminden itibaren (7) gün içinde cayma hakkına sahiptir.
                Cayma hakkının kullanılması için bu süre içinde faks, mail veya telefon ile bildirimde bulunulması ve ürünün ilgili madde hükümleri çerçevesinde kullanılmamış olması şarttır.
                Bu hakkın kullanılması halinde, 3. kişiye veya ALICI'ya teslim edilen ürünün
                AFYON ET ENTEGRE A.Ş.’ e gönderildiğine ilişkin kargo teslim tutanağı örneği ile fatura aslının iadesi zorunludur.
                Bu belgelerin ulaşmasını takip eden 7 gün içinde ürün bedeli ALICI'ya iade edilir. Fatura aslı gönderilmez ise KDV ve varsa sair
                yasal yükümlülükler iade edilemez. Cayma hakkı nedeni ile iade edilen ürünün kargo bedeli SATICI tarafından karşılanır.
            </td>
        </tr>
        <tr>
            <th width="25px">6.1</th>
            <td>Ayrıca, tüketicinin özel istek ve talepleri uyarınca üretilen veya üzerinde değişiklik ya da ilaveler yapılarak kişiye özel hale getirilen, niteliği itibari ile hızlı bozulma veya son kullanma tarihi geçme ihtimali olan mallar söz konusu olduğunda tüketici cayma hakkını kullanamaz.
                Ödemenin kredi kartı veya benzeri bir ödeme kartı ile yapılması halinde tüketici, kartın kendi rızası dışında ve hukuka aykırı biçimde kullanıldığı gerekçesiyle ödeme işleminin iptal edilmesini talep edebilir. Bu halde, kartı çıkaran kuruluş itirazın kendisine bildirilmesinden itibaren 10 gün içinde ödeme tutarını tüketiciye iade eder.
                Talepleriniz sipariş sonunda belirlemiş olduğunuz teslimat tipine göre hazırlanmak üzere işleme alınacaktır.</td>
        </tr>
        <tr>
            <th width="25px">6.1</th>
            <td>Bu sözleşmenin uygulanmasında, Sanayi ve Ticaret Bakanlığınca ilan edilen değere kadar Tüketici Hakem Heyetleri ile AFYON ET ENTEGRE A.Ş. ’in yerleşim yerindeki Tüketici Mahkemeleri yetkilidir.
                Siparişin sonuçlanması durumunda ALICI işbu sözleşmenin tüm koşullarını kabul etmiş sayılacaktır.</td>
        </tr>
        
    </tbody>
</table>
