<table class="table">
    <thead>
        <tr>
            <th> GİZLİLİK VE GÜVENLİK POLİTİKASI</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
    AFYON ET ENTEGRE A.Ş. web sitesinin (Web sitesi) tüm hakları AFYON ET ENTEGRE A.Ş.
    Bilgi İşlem Departmanına ait olup, bu doküman, websitesi'nin kullanımı sırasında kullanıcıların bilgi güvenliğini sağlamak ve kullanıcıları
    bilgi güvenliği hakkında bilgilendirmek amaçlı hazırlanmıştır. ORUÇOĞLU Gizlilik ve Güvenlik Politikasını her zaman değiştirme ve yeniden
    yayınlama hakkına sahiptir ve kullanıcılar güncel politikamıza uygun davranmalıdır.
                </p>
            </td>
        </tr>
        <tr>
            <td><p>
    Web sitesini ziyaret ederken lütfen aşağıda yazılı koşulları okuyunuz. Kullanıcı,
    web sitesini ziyaret ettiğinde, işbu Gizlilik ve Güvenlik Politikası hükümlerini okumuş ve kabul etmiş sayılacaktır.
</p>
</td>
        </tr>
        <tr>
            <td> <p>
    Web sitesini dilediğiniz sıklıkta ziyaret edebilir, ürün ve hizmetlerimiz hakkında bilgi alabilirsiniz.
    Web sitesine üye olmak istediğiniz takdirde sizden talep edilen bilgiler sadece sizin kontrolünüz dâhilinde temin edilir.
</p>
</td>
        </tr>
        <tr>
            <td>  <p>
    Sizden temin ettiğimiz kişisel bilgiler, tarafımızdan mevzuata uygun şekilde korunmaktadır ve özenle seçilmiş
    sunucu hizmeti sağlayıcılarında depolanmaktadır. Söz konusu kişisel bilgiler sizin haberiniz veya onayınız olmadan,
    işbu Gizlilik ve Güvenlik Politikası ile belirlenen amaçlar ve kapsam dışında kullanmayacak,
    hukuksal yükümlülük altında bulunulmadığı sürece izinsiz olarak üçüncü şahıslarla paylaşmayacaktır.
</p></td>
        </tr>
        <tr>
            <td>  <p>
    AFYON ET ENTEGRE A.Ş., kişisel bilgileri kesinlikle gizli tutmayı, bunu bir sır
    saklama yükümlülüğü olarak addetmeyi, gizliliğin sağlanması ve sürdürülmesi, kişisel bilgilerinizin
    tamamının veya herhangi bir kısmının kamu alanına girmesini veya yetkisiz kullanımını veya üçüncü bir
    kişiye ifşasını önlemek için gerekli tedbirlerin alınmasını ve gerekli özenin gösterilmesini taahhüt eder.
    Ancak AFYON ET ENTEGRE A.Ş.’in gerekli bilgi güvenliği önlemlerini almasına karşın web sitesine veya sisteme yapılan saldırılar
    sonucunda kişisel bilgilerinizin zarar görmesi veya üçüncü kişilerin eline geçmesi durumunda, AFYON ET ENTEGRE A.Ş.
    herhangi bir sorumluluğa sahip olmayacaktır.
</p></td>
        </tr>
        <tr>
            <td> <p>
    AFYON ET ENTEGRE A.Ş., bu site üzerinden alışveriş yapan kullanıcıların siparişlerinin
    en iyi şekilde sağlanması, ödeme, kurulum ve destek sürecinin işletilebilmesi için, sürecin işleyişi için
    gerek duyulan bilgileri anlaşmalı olduğu kargo, sanal ödeme, kurulum ve destek firmalarına aktarır.
</p></td>
        </tr>
        <tr>
            <td> <p>
    AFYON ET ENTEGRE A.Ş. kişisel bilgileri, kullanıcılarına yeni ürün, hizmet ve kampanyalar hakkında bilgi vermek,
    ürün ve hizmet sunumunu iyileştirmek amacıyla kullanabilir. ORUÇOĞLU YATIRIM VE TURİZM, kişisel bilgileri anonimleştirmek şartıyla profilleme,
    istatistiksel çalışma, reklam, tanıtım, pazarlama ve sair iletişim faaliyetleri için kullanabilir ve sadece bu çalışmalar kapsamında üçüncü
    şahıslar ile paylaşabilir. Kullanıcılar web sitesini bu koşulları kabul ederek ziyaret eder.
</p></td>
        </tr>
        <tr>
            <td>  <p>
    Kişisel bilgilerinizin ve bizim bilgilerimizin güvenliğini sağlamak amacıyla
    sizin de kullanıcı adı ve şifre bilgilerinizi hiç kimse ile paylaşmamanızı önemle belirtiriz.
</p></td>
        </tr>
        <tr>
            <td> <p>
    Kullandığınız web sitesinden başka web sitelerine bağlantı yapılabilir.
    Böyle bir durumda ziyaret ettiğiniz web sitelerinin gizlilik ve kullanım koşullarını
    dikkatlice gözden geçirmeniz gerektiğini belirtir, bu web sitelerinin Güvenlik ve Gizlilik Politikalarından sorumlu olmadığımızı önemle hatırlatırız.
</p></td>
        </tr>
        <tr>
            <td><p>
    Kullanıcılar AFYON ET ENTEGRE A.Ş.'in kendileri hakkında hangi nitelikteki bilgilerini saklamakta olduğunu öğrenmek üzere ücretsiz
    olarak yazılı bilgi talep edebilirler. Olası düzeltmeler, engellemeler veya bilgilerin silinmesi hakkındaki
    talepleriniz - yasaların öngördüğü ölçüde derhal işleme alınmaktadır.
    Bilgilerin korunması, güvenlik ve diğer sorularınız için bize info@orucogluyem.com.tr e-posta adresinden ulaşabilirsiniz.
</p>
</td>
        </tr>
    </tbody>
</table>
