 
@{
} <style>
	 

	  #map-container {
		  display: flex;
		  height: 100%;
		  width: 100%;
	  }

	  #mapFrame {
		  flex: 1;
		  width: 100%;
		  height: 100%;
	  }

	  #street-view {
		   
		  flex: 1;
		  width: 50%; /* Başlangıçta yer kaplamaz */
		  height: 100%;
	  }

	  #controls {
		  padding: 10px;
		  background: #f4f4f4;
		  border-bottom: 1px solid #ccc;
	  }
</style>
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-fullscreen"  role="document"  >
		<div class="modal-content">
			@* <div class="modal-header">
				<h5 class="modal-title" id="mapModalLabel">Harita Görüntüleyici</h5>				
			</div> *@
			<div class="modal-body" style="height: calc(100% - 56px);overflow: hidden; position: relative;">

				<div id="map-container">
				<iframe id="mapFrame"  frameborder="0"></iframe>
				<iframe id="street-view" style="display:none" src="" frameborder="0"></iframe>
				</div>
			</div>
			<div class="modal-footer">
				<input type="hidden" id="Longitude2" >
				<input type="hidden" id="Latitude2">
				<button type="button" class="btn btn-primary" id="next-view" style="display:none">
					Buraya Git
				</button>
				<button type="button" class="btn btn-danger" id="toggle-view">
					Sokak Görünümü
					<i class="icon-x fas fa-street-view"></i>
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
			</div>
		</div>
	</div>
</div>
<style>
	#mapModal .modal-footer {
		padding:0 !important;
		padding-right: 1.5rem!important;
	}

	#mapModal .modal-body {
		padding: 0 !important;
		padding-right: 1.5rem !important;
	}
</style>
<script src="~/leaflet/pagescript/partialmap.js"></script>