@model ModalSettings
 
@{
}

 
	<div id="@Model.ModalID" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-@Model.Genislik">
			<div id="@Model.BodyID">
			</div>
		</div>
	</div>
 
 