@model SirketlerVM

<div class="form-group row">
    <div class="col-lg-12 ">
        <label asp-for="SirketAdi" class="control-label"></label>
        <input asp-for="SirketAdi" class="form-control form-control-sm" required />
        <span asp-validation-for="SirketAdi" class="text-danger"></span>
    </div>   
</div>
<div class="form-group row">
    <div class="col-lg-4 ">
        <label asp-for="SirketYetkili" class="control-label"></label>
        <input asp-for="SirketYetkili" class="form-control form-control-sm" required />
        <span asp-validation-for="SirketYetkili" class="text-danger"></span>
    </div>
    <div class="col-lg-4">
        <label asp-for="SirketYetkiliEmail" class="control-label"></label>
        <input asp-for="SirketYetkiliEmail" class="form-control form-control-sm" required />
        <span asp-validation-for="SirketYetkiliEmail" class="text-danger"></span>
    </div>
    <div class="col-lg-4">
        <label asp-for="SirketYetkiliTel" class="control-label"></label>
        <input asp-for="SirketYetkiliTel" class="form-control form-control-sm" required />
        <span asp-validation-for="SirketYetkiliTel" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6 ">
        <label asp-for="SirketVergiDairesi" class="control-label"></label>
        <input asp-for="SirketVergiDairesi" class="form-control form-control-sm" required />
        <span asp-validation-for="SirketVergiDairesi" class="text-danger"></span>
    </div>
    <div class="col-lg-6">
        <label asp-for="SirketVergiNo" class="control-label"></label>
        <input asp-for="SirketVergiNo" class="form-control form-control-sm" required />
        <span asp-validation-for="SirketVergiNo" class="text-danger"></span>
    </div>
   
</div>
<div class="form-group row">
    <div class="col-lg-6 ">
        <label asp-for="LogoTigerSirketKodu" class="control-label"></label>
        <input asp-for="LogoTigerSirketKodu" class="form-control form-control-sm" required />
        <span asp-validation-for="LogoTigerSirketKodu" class="text-danger"></span>
    </div>
    <div class="col-lg-4">
        <label asp-for="SirketWebSitesi" class="control-label"></label>
        <input asp-for="SirketWebSitesi" class="form-control form-control-sm" required />
        <span asp-validation-for="SirketWebSitesi" class="text-danger"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="SirketAdres" class="control-label"></label>
        <textarea asp-for="SirketAdres" type="text" class="form-control form-control-sm" rows="2"></textarea>
        <span asp-validation-for="SirketAdres" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="Aciklama" class="control-label"></label>
        <textarea asp-for="Aciklama" type="text" class="form-control form-control-sm" rows="2" ></textarea>
        <span asp-validation-for="Aciklama" class="text-danger"></span>
    </div>
</div>
<script src="js/select2.js?v=7.0.5"></script>