@model ZimmetVM
@{
	ViewData["Title"] = "Zimmet Listesi";
	ViewData["Description"] = "Çalışma Sayfası - Zimmet / Zimmet";
	//Layout = "~/Views/Shared/Metronic44/_LayoutMetronic44.cshtml";
	var controllerName = "Zimmet";
    var tablaAdi = "Zimmet Listesi";
}

<style>
	th {
		cursor: pointer;
	}
</style>

<!--begin::Card-->
<div class="card card-custom">
	<div class="card-header flex-wrap py-3">
		<div class="card-title">
			<h3 class="card-label">
				@tablaAdi				 
			</h3>
		</div>
		<div class="card-toolbar">

			@{
				await Html.RenderPartialAsync("~/Views/Shared/SitePartial/_CreateButton.cshtml");
			}
		</div>
	</div>
	<div class="card-body " id="cardBody">
		<!--begin: Datatable-->
		@{
			await Html.RenderPartialAsync("_Table", Model);
		}
		<!--end: Datatable-->
	</div>
</div>
<!--end::Card-->


@section JSSection {

	@{
		await Html.RenderPartialAsync("_PartialAuthorizeCrud",
		new AuthorizeCrudVM
		{
			Controller = controllerName,
			ModulID = (int)ModulEnum.Zimmet,
			DosyaYolu = controllerName
		});
	}

	<script type="text/javascript">
		document.querySelectorAll("th").forEach((header, index) => {
			header.addEventListener("click", () => {
				const table = header.closest("table");
				const rows = Array.from(table.querySelectorAll("tbody tr"));

				rows.sort((a, b) => {
					const aText = a.cells[index].innerText.trim();
					const bText = b.cells[index].innerText.trim();

					return aText.localeCompare(bText, 'tr');
				});

				const tbody = table.querySelector("tbody");
				tbody.innerHTML = "";

				rows.forEach(row => tbody.appendChild(row));
			});
		});
	</script>
	 
}
@section ModalSection {

	@{
		//await Html.RenderPartialAsync("_PartialModalVeri");
		await Html.RenderPartialAsync("~/Views/Shared/_PartialModal.cshtml",
		new ModalSettings { ModalID = "ModalVeri", BodyID = "VeriAlan", Genislik = "xl" });
	}
	@{
		//await Html.RenderPartialAsync("_PartialModalVeri");
		await Html.RenderPartialAsync("~/Views/Shared/_PartialModal.cshtml",
		new ModalSettings { ModalID = "ModalEnvanterListe", BodyID = "EnvanterListeVeriAlan", Genislik = "xl" });
	}
	@{
		await Html.RenderPartialAsync("_PartialModalDosya",
		new AuthorizeCrudVM { Controller = controllerName, HaritaEkle = false });
	}

}



