@model ZimmetVM
@{
	ViewData["Title"] = "Zimmet Listesi";
	ViewData["Description"] = "Çalışma Sayfası - Zimmet / Zimmet";
	//Layout = "~/Views/Shared/Metronic44/_LayoutMetronic44.cshtml";
	var controllerName = "Zimmet";
    var tablaAdi = "Zimmet Listesi";
}

<style>
	th {
		cursor: pointer;
	}
</style>
<div class="card shadow mb-4">
	<div class="card-header">
		Arama Seçenekleri
	</div>
	<div class="card-body">

		<form asp-action="Index" asp-controller="Zimmet" method="post" name="VeriFiltre" id="VeriFiltre">

			<div class="row">
				<div class="form-group col-lg-2 col-md-4">
					<label class="control-label">Genel Arama</label>
					<input asp-for="AciklamaIlk" class="form-control form-control-sm" />
				</div>
				<div class="form-group col-lg-2  col-md-4">
					<label asp-for="@Model.Sirket" class="control-label"></label>
					<select asp-for="SirketID" class="kt_select2" data-live-search="true" data-size="5" asp-items="@(new SelectList(ViewBag.SirketlerListe, "ID", "SirketAdi"))" id="SirketlerListe">
						<option value="0">Tümü</option>
					</select>
				</div>
				<div class="form-group col-lg-2  col-md-4">
					<label asp-for="@Model.Personel" class="control-label"></label>
					<select asp-for="PersonelID" class="kt_select2" data-live-search="true" data-size="5" asp-items="@(new SelectList(ViewBag.PersonellerListe, "ID", "AdSoyad"))" id="PersonellerListe">
						<option value="0">Tümü</option>
					</select>
				</div>
				<div class="form-group col-lg-2">
					<label class="control-label">&nbsp;</label>
					<button type="submit" class="btn btn-primary form-control form-control-sm btn-sm">Ara</button>

				</div>
			</div>
			<input type="hidden" asp-for="PageIndex" />
			<input type="hidden" asp-for="PageSize" />
			<input type="hidden" asp-for="ct" />

			 
		</form>

	</div>
</div>
<!--begin::Card-->
<div class="card card-custom">
	<div class="card-header flex-wrap py-3">
		<div class="card-title">
			<h3 class="card-label">
				@tablaAdi				 
			</h3>
		</div>
		<div class="card-toolbar">

			@{
				//await Html.RenderPartialAsync("~/Views/Shared/SitePartial/_CreateButton.cshtml");
			}
		</div>
	</div>
	<div class="card-body " id="cardBody">
		<!--begin: Datatable-->
		@{
			await Html.RenderPartialAsync("_Table", Model);
		}
		<!--end: Datatable-->
	</div>
</div>
<!--end::Card-->


@section JSSection {

	@{
		await Html.RenderPartialAsync("_PartialAuthorizeCrud",
		new AuthorizeCrudVM
		{
			Controller = controllerName,
			ModulID = (int)ModulEnum.Zimmet,
			DosyaYolu = controllerName
		});
	}

	<script type="text/javascript">
		document.querySelectorAll("th").forEach((header, index) => {
			header.addEventListener("click", () => {
				const table = header.closest("table");
				const rows = Array.from(table.querySelectorAll("tbody tr"));

				rows.sort((a, b) => {
					const aText = a.cells[index].innerText.trim();
					const bText = b.cells[index].innerText.trim();

					return aText.localeCompare(bText, 'tr');
				});

				const tbody = table.querySelector("tbody");
				tbody.innerHTML = "";

				rows.forEach(row => tbody.appendChild(row));
			});
		});
	</script>
	 
}
@section ModalSection {

	@{
		//await Html.RenderPartialAsync("_PartialModalVeri");
		await Html.RenderPartialAsync("~/Views/Shared/_PartialModal.cshtml",
		new ModalSettings { ModalID = "ModalVeri", BodyID = "VeriAlan", Genislik = "xl" });
	}
	@{
		//await Html.RenderPartialAsync("_PartialModalVeri");
		await Html.RenderPartialAsync("~/Views/Shared/_PartialModal.cshtml",
		new ModalSettings { ModalID = "ModalEnvanterListe", BodyID = "EnvanterListeVeriAlan", Genislik = "xl" });
	}
	@{
		await Html.RenderPartialAsync("_PartialModalDosya",
		new AuthorizeCrudVM { Controller = controllerName, HaritaEkle = false });
	}

}



