@model EczaneVM
@{
}
@if (User.HasClaim(a => a.Type == ClaimTypes.Role && (a.Value == "FileAdd") || a.Value == "Admin"))
{
    
    <form asp-action="FotoYukle" asp-controller="Eczane" method="post" enctype="multipart/form-data" id="uploadForm">
        <div class="row">
            <div class="col-md-9">

                <input class="fileElement" name="dosya" type="file"   required>

            </div>
            <div class="col-md-3 text-right">
                <button type="submit" class="btn btn-sm btn-success width100_">
                    <i class="icon-xl fas fa-file-upload"></i> Seçilen Dosyayı Yükle
                </button>
                <input type="hidden" asp-for="ID" /> 
            </div>

        </div>


    </form>
    <br />
}
<img src="/Eczane/upload/Eczaci/@Model.Fotograf" width="100px" />
<script>

    $(document).ready(function () {
        // Dosya yükleme işlemi
        $('#uploadFormxxx').on('submit', function (event) {
            event.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                url: '@Url.Action("DosyaYukle", "DosyaYonetimi")',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                dataType: "html",
                success: function (response) {

                    $('#DosyaListesi').html(response);
                    $('#uploadForm')[0].reset();
                },
                error: function (xhr, status, error) {
                    // alert('Dosya yükleme sırasında bir hata oluştu. \nAçıklama:'+ JSON.parse(xhr.responseText).message);
                    toastr.error('Açıklama:' + JSON.parse(xhr.responseText).message, 'Hata!');
                }
            });
        });
    });
</script>
<script type="text/javascript">
	$(document).ready(function () {
		// Formun submit olayı
		$('#uploadForm').on('submit', function (e) {
			e.preventDefault(); // Formun varsayılan submit davranışını engeller

			var form = $(this);
			var actionUrl = form.attr('action'); // asp-action ile belirtilen URL'yi alır
            var formData = new FormData(this); // Form verilerini alır

			$.ajax({
				type: 'POST',
				url: actionUrl,
				data: formData,
                contentType: false,
                processData: false,
                dataType: "html",
				success: function (response) {

					$('#ModalFotoEkle').modal('hide');
						toastr.success('Kaydetme İşlemi Başarılı', 'Başarılı');
				},
				error: function (xhr, status, error) {

					toastr.error('Açıklama:' + xhr.responseText, 'Hata!');
				}
			});
		});
	});
</script>