@model PersonelVM
@{
	ViewData["Title"] = "Kullanıcı Listesi";
	ViewData["Description"] = "Çalışma Sayfası - Zimmet / Personel";
	//Layout = "~/Views/Shared/Metronic44/_LayoutMetronic44.cshtml";
	var controllerName = "Personel";
    var tablaAdi = "Personel Listesi";
}
<style>
	th {
		cursor: pointer;
	}
</style>


<!--begin::Card-->
<div class="card card-custom">
	<div class="card-header flex-wrap py-3">
		<div class="card-title">
			<h3 class="card-label">
				@tablaAdi				 
			</h3>
		</div>
		<div class="card-toolbar">
			@if (User.HasClaim("Authorize", "PersonelAdd") || User.IsInRole("Admin"))
			{
				<buton onclick="BordroPersonelAktar()" class="btn btn-info  btn-sm mr-2">Bordrodan Personel Aktar</buton>
			}
			 
			@{
				await Html.RenderPartialAsync("~/Views/Shared/SitePartial/_CreateButton.cshtml");
			}
			@{
				await Html.RenderPartialAsync("_PartialHaritaGenel", new AuthorizeCrudVM
				{
					ModulID = (int)ModulEnum.Personel,
					HaritaEkle = false
				});

			}
		</div>
	</div>
	<div class="card-body " id="cardBody">
		<div class="table-responsive"
		<!--begin: Datatable-->
		@{
			await Html.RenderPartialAsync("_Table", Model);
		}
		<!--end: Datatable-->
		</div>
	</div>
</div>
<!--end::Card-->
@{
	//await Html.RenderPartialAsync("_PartialModalVeri");
	await Html.RenderPartialAsync("~/Views/Shared/_PartialModal.cshtml", 
	new ModalSettings { ModalID = "ModalVeri", BodyID = "VeriAlan", Genislik = "xl" });
}

@{
	await Html.RenderPartialAsync("_PartialModalDosya",
	new AuthorizeCrudVM { Controller = controllerName, HaritaEkle = false });
}

<div id="ModalFotoEkle" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Foto Ekle</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
					<span aria-hidden="true">&times;</span>
					<i aria-hidden="true" class="ki ki-close"></i>
				</button>
			</div>

			<div class="modal-body" id="DetaylarFoto">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
			</div>

		</div>

	</div>
</div>



@section JSSection {

	@{
		await Html.RenderPartialAsync("_PartialAuthorizeCrud",
		new AuthorizeCrudVM
		{
			Controller = controllerName,
			ModulID = (int)ModulEnum.Personel,
			DosyaYolu = controllerName
		});
	}

	<script type="text/javascript">

		function BordroPersonelAktar(){

				$.ajax({
					type: 'GET',
					url: 'Personel/BordroPersonelAktar',
					success: function (response) {
						// $('#cardBody').html(response);
						// $('#ModalVeri').modal('hide');
						toastr.success('Kaydetme İşlemi Başarılı', 'Başarılı');

					},
					error: function (xhr, status, error) {

						toastr.error('Açıklama:' + xhr.responseText, 'Hata!');
					}
				});
		}
				document.querySelectorAll("th").forEach((header, index) => {
			header.addEventListener("click", () => {
				const table = header.closest("table");
				const rows = Array.from(table.querySelectorAll("tbody tr"));

				rows.sort((a, b) => {
					const aText = a.cells[index].innerText.trim();
					const bText = b.cells[index].innerText.trim();

					return aText.localeCompare(bText, 'tr');
				});

				const tbody = table.querySelector("tbody");
				tbody.innerHTML = "";

				rows.forEach(row => tbody.appendChild(row));
			});
		});
	</script>
	<script>

		  
		   function FotoGetir(id) {
		GetAjax('Personel/_FotoGetir?PersonelID=' + id, 'DetaylarFoto');
		}
	</script>
}



