@model RequestVM
<div class="form-group row">
   
    @if (Model.ID > 0)
    {
        <div class="col-lg-3">
            <span class="@Model.DurumClass"></span>  <label asp-for="DurumAd" class="control-label"></label> <div class="durum-wrapper">
          
            
        </div>
            <input asp-for="DurumAd" class="form-control form-control-sm" readonly />
            <span asp-validation-for="DurumAd" class="text-danger"></span>
        </div>
    }
   
  
</div>
<!--begin::Row-->
<div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
 
	<!--begin::Col-->
	<div class="col">
		<!--begin::Input group-->
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="fs-6 fw-semibold form-label mt-3" asp-for="SirketAd"> 
            </label> 
            <!--end::Label-->
            <!--begin::Select-->
            <select asp-for="SirketID" aria-label="Şirket Seçiniz" data-control="select2"
            data-placeholder="Select currency" class="form-select form-select-solid"
                    asp-items="@(new SelectList(ViewBag.SirketListe, "ID", "SirketAdi"))">                
               
            </select>
            <!--end::Select-->
        </div>
		<!--end::Input group-->
	</div>
	<!--end::Col-->
    <!--begin::Col-->
    <div class="col">
        <!--begin::Input group-->
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="fs-6 fw-semibold form-label mt-3" asp-for="RequestDate">
            </label>
            <!--end::Label-->
            <!--begin::input-->
            <input asp-for="RequestDate" class="form-control form-control-solid" type="date" />
            <!--end::input-->
        </div>
        <!--end::Input group-->
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->
 

<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="Not" class="control-label"></label>
        <textarea asp-for="Not" type="text" class="form-control form-control-solid" rows="2" required></textarea>
        <span asp-validation-for="Not" class="text-danger"></span>
    </div>
</div>

 

@if (Model.ID>0)
{
    <hr class="border-1 mt-5 mb-5" />
  @*  <div class="form-group row">
        <div class="col-lg-12">
            <button onclick="UrunSeciniz('@Model.ID')" class="btn btn-sm btn-info font-weight-bold" type="button">Ürün Seçiniz</button>
        </div>
    </div> *@
    <div id="UrunlerDiv">

    </div>
   
}
 




 
 