
@{
    ViewData["Title"] = "AccessDenied";
     
}



 
    <!-- Content Row -->
    <div class="card shadow">
        <div class="card-header py-3">
            <h6 class="m-0">
                <span class="font-weight-bold"> YARDIM GİRİŞİ YETKİ SINIRLAMA </span>
            </h6>

        </div>
        <div class="card-body">
            <h1>Sayfaya Erişim İzniniz yoktur.</h1>
            İlgili sayfaya erişmek için site yöneticicsiyle temasa geçiniz.
            <br />
            <br />
            <img src="~/img/access-denied.png" width="400px"/>
            <br />
            <br />
            <button type="button" class="btn btn-danger" onclick="history.back()">Geri Dön</button>
        </div>
    </div>
 