 
@{
}
<!--begin::Footer-->
<div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
	<!--begin::Container--> 
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Holimer İlaç A.Ş. 2025</span>
            <hr />
        <span>
            Nisbetiye Mahallesi, Nisbetiye Caddesi No:22 Özden İş Merkezi Kat: 3, 34520 Beşiktaş/İstanbul
            Beşiktaş / İstanbul
        </span>
            <span>
            +90 536 742 43 23
            +90 212 213 55 13
            </span>
            <span>
                satis@holimer.com.tr
            </span>
        </div>
	 
	<!--end::Container-->
</div>
<!--end::Footer-->